#textdomain wesnoth-The_Sapphire_of_Ice
[scenario]
    id=00_Impossible_Flame
    next_scenario=01_Fading_Hope
    name= _ "Impossible Flame"
    map_data="{~add-ons/The_Sapphire_of_Ice/maps/01_Fading_One.map}"
    {DEFAULT_SCHEDULE}
    turns=-1
    victory_when_enemies_defeated=no
    [side]
        side=1
        controller=human
        team_name="good"
        user_team_name= _ "Outcasts"
        id=sapphire
        name= _ "Kryz'tara"
        type="Fading Drake"
        unrenameable=yes
        canrecruit=yes
        recruit=""
        gold=0
        [modifications]
            {TRAIT_RESILIENT}
            {TRAIT_QUICK}
        [/modifications]
    [/side]
    [side]
        side=2
        controller=ai
        team_name="good"
        user_team_name= _ "Drakes"
        no_leader=yes
        gold=0
        [unit]
            type="Saurian Augur"
            id=krix
            name= _ "Krix"
            x,y=29,30
            [modifications]
                {TRAIT_STRONG}
                {TRAIT_QUICK}
            [/modifications]
        [/unit]
        [unit]
            type="Drake Glider"
            id=vash
            name= _ "Vash"
            x,y=30,29
            [modifications]
                {TRAIT_STRONG}
                {TRAIT_QUICK}
            [/modifications]
        [/unit]
        [unit]
            type="Drake Flare"
            id=announcer
            name= _ "Klaag"
            x,y=25,25
            [modifications]
                {TRAIT_STRONG}
                {TRAIT_INTELLIGENT}
            [/modifications]
        [/unit]
        [unit]
            type="Drake Burner"
            id=challenger
            side=2
            x,y=18,32
        [/unit]
        [unit]
            type="Drake Arbiter"
            side=2
            x,y=24,30
        [/unit]
        [unit]
            type="Drake Arbiter"
            side=2
            x,y=32,27
        [/unit]
        [unit]
            type="Drake Clasher"
            side=2
            x,y=14,30
        [/unit]
        [unit]
            type="Drake Glider"
            side=2
            x,y=7,27
        [/unit]
        [unit]
            type="Drake Glider"
            side=2
            x,y=32,25
        [/unit]
        [unit]
            type="Drake Clasher"
            side=2
            x,y=21,6
        [/unit]
        [unit]
            type="Drake Burner"
            side=2
            x,y=19,26
        [/unit]
        [unit]
            type="Drake Burner"
            side=2
            x,y=22,29
        [/unit]
        [unit]
            type="Drake Glider"
            side=2
            x,y=26,33
        [/unit]
        [unit]
            type="Drake Fighter"
            side=2
            x,y=29,9
        [/unit]
        [unit]
            type="Drake Fighter"
            side=2
            x,y=16,19
        [/unit]
        [unit]
            type="Saurian Skirmisher"
            side=2
            x,y=29,24
        [/unit]
        [unit]
            type="Saurian Skirmisher"
            side=2
            x,y=22,22
        [/unit]
        [unit]
            type="Saurian Skirmisher"
            side=2
            x,y=20,28
        [/unit]
        [unit]
            type="Saurian Skirmisher"
            side=2
            x,y=23,32
        [/unit]
        [unit]
            type="Saurian Skirmisher"
            side=2
            x,y=34,19
        [/unit]
    [/side]
    [side]
        side=3
        controller=ai
        team_name="bad"
        user_team_name= _ ""
        no_leader=yes
        gold=0
        hidden=yes
    [/side]
#define OBSERVER_MOVEMENT
    [object]
        silent=yes
        id=observer_movement
        duration=scenario
        [effect]
            apply_to=movement_costs
            replace=true
            [movement_costs]
                hills={UNREACHABLE}
            [/movement_costs]
        [/effect]
    [/object]
#enddef
#define CHALLENGER_MOVEMENT
    [object]
        silent=yes
        id=challenger_movement
        duration=scenario
        [effect]
            apply_to=movement_costs
            replace=true
            [movement_costs]
                flat={UNREACHABLE}
                forest={UNREACHABLE}
                village={UNREACHABLE}
            [/movement_costs]
        [/effect]
    [/object]
#enddef
    [event]
        name=prestart
        [modify_unit]
            [filter]
                side=2
                [not]
                    id=challenger
                [/not]
            [/filter]
            {OBSERVER_MOVEMENT}
        [/modify_unit]
        [modify_unit]
            [filter]
                id=sapphire,challenger
            [/filter]
            {CHALLENGER_MOVEMENT}
        [/modify_unit]
    [/event]
    [event]
        name=start
        [message]
            speaker=announcer
            message= _ "Greetings, everybody. Today we gather here to witness the final trial of the fading flame, Kryz'tara."
        [/message]
        [message]
            speaker=announcer
            message= _ "Despite descending from a line of our finest burners, this weakling struggles to even light a torch! He is a disgrace to the entire clan, more so to his brethren who take pride in their inner flames."
        [/message]
        [message]
            speaker=announcer
            message= _ "Our laws demand the culling of the weak. Yet, so that none may question our mercy, Kryz'tara shall be granted one final chance to kindle his worth."
        [/message]
        [unit]
            type=Quintain
            side=3
            id=main_target
            x,y=25,27
            [modifications]
                {TRAIT_HEALTHY}
            [/modifications]
        [/unit]
        [unit]
            type=Quintain
            side=3
            x,y=17,32
            [modifications]
                {TRAIT_HEALTHY}
            [/modifications]
        [/unit]
        [unit]
            type=Quintain
            side=3
            x,y=19,32
            [modifications]
                {TRAIT_HEALTHY}
            [/modifications]
        [/unit]
        [unit]
            type=Quintain
            side=3
            x,y=18,30
            [modifications]
                {TRAIT_HEALTHY}
            [/modifications]
        [/unit]
        [delay]
            time=1000
        [/delay]
        [message]
            speaker=announcer
            message= _ "Here is your challenge, Kryz'tara:
You must burn down the Quintain ahead of you before one of your peers burns <i>three</i> of them. Should you succeed, you shall be welcome back into our clan. Otherwise, you shall be executed at sunrise. Are my instructions clear?"
        [/message]
        [message]
            speaker=sapphire
            message= _ "You speak of justice? There is no justice in slaughtering your own kin for the crime of being born different!"
        [/message]
        [message]
            speaker=sapphire
            message= _ "I shall accept your challenge, but only because I have no other options. You are committing a grave mistake, and I shall prove you all wrong today."
        [/message]
        [message]
            speaker=announcer
            message= _ "Bold words from a weakling who breathes nothing but soot. Enough! Let the trial begin."
        [/message]
        [objectives]
            [objective]
                description= _ "Destroy the quintain before your challenger destroys all 3"
                condition="win"
            [/objective]
            [objective]
                description= _ "Fail to burn the quintain in time"
                condition="lose"
            [/objective]
        [/objectives]
    [/event]
    [event]
        name=attacker_hits
        [filter]
            id=challenger
        [/filter]
        [filter_condition]
            [variable]
                name=turn_number
                equals=2
            [/variable]
        [/filter_condition]
        [message]
            speaker=krix
            message= _ "Not fair! He is using the sun to strengthen his fire!"
        [/message]
        [message]
            speaker=announcer
            message= _ "Be silent, slave. The sun is our domain and source of power, unlike your twisted affinity for darkness."
        [/message]
        [message]
            speaker=krix
            message= _ "(He is not going to make it, what should we do?)"
        [/message]
        [message]
            speaker=vash
            message= _ "(I know, this situation is hopeless for Kryz'tara. We should find a way to save him.)"
        [/message]
    [/event]
    [event]
        name=turn 4
        [message]
            speaker=announcer
            message= _ "The Trial of the Flame has concluded, Kryz'tara has <i>burned</i> his final bridge."
        [/message]
        [if]
            [have_unit]
                id=main_target
                formula="hitpoints < 15"
            [/have_unit]
            [then]
                [message]
                    speaker=sapphire
                    message= _ "But I was so close! Give me another chance!"
                [/message]
                [message]
                    speaker=announcer
                    message= _ "The entire clan bears witness to your incompetent flame. You die tomorrow at sunrise."
                [/message]
            [/then]
            [else]
                [message]
                    speaker=sapphire
                    message= _ "This was a rigged trial to begin with! I was never granted a real chance to prove my worth!"
                [/message]
                 [message]
                    speaker=announcer
                    message= _ "I have heard enough from you, puny weakling. You die tomorrow at sunrise."
                [/message]               
            [/else]
        [/if]
        [message]
            speaker=announcer
            message= _ "The night approaches. We shall gather here tomorrow, I have matters to tend to now."
        [/message]
        [kill]
            id=main_target
        [/kill]
        [kill]
            id=announcer
        [/kill]
        [remove_object]
            [filter]
                side=2
            [/filter]
            object_id=observer_movement
        [/remove_object]
        [remove_object]
            [filter]
                id=sapphire,challenger
            [/filter]
            object_id=challenger_movement
        [/remove_object]
        [object]
            silent=yes
            duration=scenario
            [filter]
                id=krix
            [/filter]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_NIGHTSTALK}
                [/abilities]
            [/effect]
        [/object]
        [object]
            silent=yes
            duration=scenario
            [filter]
                id=vash
            [/filter]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_NIGHTSTALK}
                [/abilities]
            [/effect]
        [/object]
        [objectives]
            [objective]
                description= _ "Wait for night to fall, then approach your friends"
                condition="win"
            [/objective]
            [objective]
                description= _ "The sun rises before you consult your friends"
                condition="lose"
            [/objective]
        [/objectives]
        [modify_unit]
            [filter]
                id=krix
            [/filter]
            goto_x=33
            goto_y=28
        [/modify_unit]
        [modify_unit]
            [filter]
                id=vash
            [/filter]
            goto_x=33
            goto_y=29
        [/modify_unit]
        [modify_turns]
            value=6
        [/modify_turns]
    [/event]
    [event]
        name=moveto
        [filter]
            id=sapphire
            [filter_adjacent]
                id=krix,vash
            [/filter_adjacent]
        [/filter]
        [filter_condition]
            [variable]
                name=turn_number
                equals=4
            [/variable]
        [/filter_condition]
        [if]
            [have_unit]
                id=krix
                [filter_adjacent]
                    id=sapphire
                [/filter_adjacent]
            [/have_unit]
            [then]
                [message]
                    speaker=krix
                    message= _ "Meet us inside the forest at night."
                [/message]
            [/then]
            [elseif]
                [have_unit]
                    id=vash
                    [filter_adjacent]
                        id=sapphire
                    [/filter_adjacent]
                [/have_unit]
                [then]
                    [message]
                        speaker=vash
                        message= _ "Meet us inside the forest at night."
                    [/message]
                [/then]
            [/elseif]
        [/if]
    [/event]
    [event]
        name=turn 5
        [kill]
            side=2
            [not]
                id=krix,vash
            [/not]
        [/kill]
        [event]
            name=moveto
            [filter]
                id=sapphire
                [filter_adjacent]
                    id=krix,vash
                [/filter_adjacent]
            [/filter]
            [message]
                speaker=sapphire
                message= _ "I can not sit here and accept death, I will escape tomorrow."
            [/message]
            [message]
                speaker=krix
                message= _ "Those pretentious monsters can not be reasoned with, I agree that you must escape."
            [/message]
            [message]
                speaker=krix
                message= _ "In fact, many of the saurians are fed up with their life of slavery and want to flee as well. They were hoping that you would lead them out of this cursed valley."
            [/message]
            [message]
                speaker=vash
                message= _ "Do not forget us! You may not be a glider, but we can't bear to witness this unjust execution! We are moving out too."
            [/message]
            [message]
                speaker=sapphire
                message= _ "My friends, I am afraid of dragging you into an unnecessary bloodbath. I must escape alone, I only came here to bid you my farewells."
            [/message]
            [message]
                speaker=krix
                message= _ "Nonsense. The saurians have already made up their minds, they shall follow you under all circumstances. After all, our Auracles have foretold the legend of the Cold Heart, the one that shall break them out of their shackles and deliver them to safety. Your unusual affinity for cold among drakes is unmistakable."
            [/message]
            [message]
                speaker=sapphire
                message= _ "I find it difficult to fathom your convoluted titles, or that I will continue to live another day."
            [/message]
            [message]
                speaker=sapphire
                message= _ "If you insist, then you may accompany me. However, I must warn you of the unknown dangers that lurk ahead of us."
            [/message]
            [message]
                speaker=vash
                message= _ "Very well. We shall begin our preparations for the escape. Meet you both at sunrise."
            [/message]
            [endlevel]
                result=victory
                bonus=no
                carryover_percentage=0
            [/endlevel]
        [/event]
        [event]
            name=time over
            [message]
                speaker=sapphire
                message= _ "It is too late to escape. I am doomed."
            [/message]
            [endlevel]
                result=defeat
            [/endlevel]
        [/event]
    [/event]
[/scenario]