#textdomain wesnoth-The_Sapphire_of_Ice
[scenario]
    id=01_Fading_Hope
    next_scenario=02_Bitter_Ascension
    name= _ "Fading Hope"
    map_data="{~add-ons/The_Sapphire_of_Ice/maps/01_Fading_One.map}"
    {DEFAULT_SCHEDULE}
    turns=15
    victory_when_enemies_defeated=no
    [side]
        side=1
        controller=human
        team_name="good"
        user_team_name= _ "Outcasts"
        id=sapphire
        name= _ "Kryz'tara"
        type="Fading Drake"
        unrenameable=yes
        canrecruit=yes
        recruit="Saurian Skirmisher, Drake Glider"
        gold=75
        [modifications]
            {TRAIT_RESILIENT}
            {TRAIT_QUICK}
        [/modifications]
        [unit]
            type="Saurian Augur"
            id=krix
            name= _ "Krix"
            x,y=28,27
            [modifications]
                {TRAIT_LOYAL_HERO}
                {TRAIT_STRONG}
                {TRAIT_QUICK}
            [/modifications]
        [/unit]
        [unit]
            type="Drake Glider"
            id=vash
            name= _ "Vash"
            x,y=23,27
            [modifications]
                {TRAIT_LOYAL_HERO}
                {TRAIT_STRONG}
                {TRAIT_QUICK}
            [/modifications]
        [/unit]
    [/side]
    [side]
        side=2
        controller=ai
        team_name="bad"
        user_team_name= _ "Drakes"
        no_leader=yes
        gold=0
    [/side]
    [event]
        name=start
        [message]
            speaker=sapphire
            message= _ "The clan will gather at any moment now, have you checked if the path is clear?"
        [/message]
        [message]
            speaker=vash
            message= _ "The guards are about to exchange posts, we shall have an opening very soon."
        [/message]
        [message]
            speaker=krix
            message= _ "I have spoken to the saurians, they're ready to move out. However, they have expressed deep fear of what awaits them ahead of these mountains."
        [/message]
            [message]
            speaker=sapphire
            message= _ "How I wish we were not forced to flee our homes or fight our own clan. It's a pity my brethren are willing to shed one of their own's blood for being... different."
        [/message]
        [message]
            speaker=krix
            message= _ "As for our kind, we face no regret fleeing from those who have enslaved us for decades. Many of us will die today, but such is the price of freedom."
        [/message]
        [message]
            speaker=krix
            message= _ "I must ask though, what do the gliders have to gain from such an endeavor, Vash?"
        [/message]
        [message]
            speaker=vash
            message= _ "We the gliders have always longed to roam the skies and explore the continent. Our ancestors tell of vast wonders in the land and sea, ones our stone-headed chieftans would never dream of. We have been cast out of the clan for being too ambitious, and remain chained to these lands in fear of 'injuring ourselves'. Today is the day our wings break free, today is the day we fly!"
        [/message]
        [message]
            speaker=sapphire
            message= _ "A pity that many of them refused your call."
        [/message]
        [message]
            speaker=vash
            message= _ "It can't be helped. Many gliders remain under the influence of the chieftans. I tried my best to win them over, but to no avail."
        [/message]
        [unit]
            type="Drake Flare"
            id=announcer
            name= _ "Klaag"
            side=2
            x,y=24,33
            [modifications]
                {TRAIT_STRONG}
                {TRAIT_INTELLIGENT}
            [/modifications]
        [/unit]
        {MOVE_UNIT id=announcer 25 30}
        [unit]
            type="Drake Arbiter"
            side=2
            x,y=26,33
            [modifications]
                {TRAIT_STRONG}
                {TRAIT_RESILIENT}
            [/modifications]
        [/unit]
        [unit]
            type="Drake Arbiter"
            side=2
            x,y=33,32
            [modifications]
                {TRAIT_STRONG}
                {TRAIT_RESILIENT}
            [/modifications]
        [/unit]
        [unit]
            type="Drake Clasher"
            side=2
            x,y=11,29
            [modifications]
                {TRAIT_STRONG}
                {TRAIT_RESILIENT}
            [/modifications]
        [/unit]
        [unit]
            type="Drake Glider"
            side=2
            x,y=7,27
            [modifications]
                {TRAIT_INTELLIGENT}
                {TRAIT_RESILIENT}
            [/modifications]
        [/unit]
        [unit]
            type="Drake Glider"
            side=2
            x,y=39,30
            [modifications]
                {TRAIT_INTELLIGENT}
                {TRAIT_RESILIENT}
            [/modifications]
        [/unit]
#ifndef EASY
        [unit]
            type="Drake Clasher"
            side=2
            x,y=21,6
            [modifications]
                {TRAIT_INTELLIGENT}
                {TRAIT_RESILIENT}
            [/modifications]
        [/unit]
        [unit]
            type="Drake Glider"
            side=2
            x,y=18,32
            [modifications]
                {TRAIT_QUICK}
                {TRAIT_RESILIENT}
            [/modifications]
        [/unit]
#endif
#ifdef HARD
        [unit]
            type="Drake Fighter"
            side=2
            x,y=29,9
            [modifications]
                {TRAIT_QUICK}
                {TRAIT_INTELLIGENT}
            [/modifications]
        [/unit]
#endif
        [delay]
            time=1000
        [/delay]
        [message]
            speaker=announcer
            message= _ "What do I see here? Slaves and ragtags come to spectate the execution?"
        [/message]
        [message]
            speaker=sapphire
            message= _ "Not today, I am afraid, this will be the last time you lay hand on any one of us. Everybody, RUN!"
        [/message]
        [message]
            speaker=announcer
            message= _ "Catch them! Do not allow any of them to escape!"
        [/message]
        [objectives]
            [objective]
            description= _ "Reach the northern border with Kryz'tara"
            condition="win"
            [/objective]
            [objective]
            description= _ "Death of Kryz'tara, Vash, or Krix"
            condition="lose"
            [/objective]
            [objective]
            description= _ "Turns run out"
            condition="lose"
            [/objective]
            [gold_carryover]
                bonus=no
                carryover_percentage=100
            [/gold_carryover]
        [/objectives]
    [/event]
    [event]
        name=die
        first_time_only=no
        [filter]
            side=2
        [/filter]
        [if]
            [have_unit]
                side=2
            [/have_unit]
            [else]
                [unit]
                    type="Drake Arbiter"
                    side=2
                    x,y=21,27
                    [modifications]
                        {TRAIT_STRONG}
                        {TRAIT_RESILIENT}
                    [/modifications]
                [/unit]
                [unit]
                    type="Drake Arbiter"
                    side=2
                    x,y=29,25
                    [modifications]
                        {TRAIT_STRONG}
                        {TRAIT_RESILIENT}
                    [/modifications]
                [/unit]
                [unit]
                    type="Drake Clasher"
                    side=2
                    x,y=14,24
                    [modifications]
                        {TRAIT_STRONG}
                        {TRAIT_RESILIENT}
                    [/modifications]
                [/unit]
                [unit]
                    type="Sky Drake"
                    side=2
                    x,y=7,25
                    [modifications]
                        {TRAIT_INTELLIGENT}
                        {TRAIT_RESILIENT}
                    [/modifications]
                [/unit]
                [unit]
                    type="Sky Drake"
                    side=2
                    x,y=39,28
                    [modifications]
                        {TRAIT_INTELLIGENT}
                        {TRAIT_RESILIENT}
                    [/modifications]
                [/unit]
                [message]
                    speaker=sapphire
                    message= _ "More of them are coming. We must leave immediately!"
                [/message]
            [/else]
        [/if]
    [/event]
    [event]
        name=moveto
        [filter]
            id=sapphire
            x,y=1-44,1
        [/filter]
        [message]
            speaker=sapphire
            message= _ "Make haste!"
        [/message]
        [endlevel]
            result=victory
            bonus=no
            carryover_percentage=100
            carryover_add=yes
        [/endlevel]
    [/event]
    [event]
        name=time over
        [message]
            speaker=sapphire
            message= _ "We could not make it in time. This is hopeless."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name="last breath"
        [filter]
            id=sapphire,krix,vash
        [/filter]
        [message]
            speaker=unit
            message= _ "How shall my friends escape without me?"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
[/scenario]
