#textdomain wesnoth-The_Sapphire_of_Ice
[scenario]
    id=02_Bitter_Ascension
    next_scenario=03_Cave_Entrance
    name= _ "Bitter Ascension"
    map_data="{~add-ons/The_Sapphire_of_Ice/maps/02_Bitter_Ascension.map}"
    {DEFAULT_SCHEDULE}
    [time_area]
        x=9-15
        y=2-5
        {UNDERGROUND}
    [/time_area]
    turns=25
    victory_when_enemies_defeated=no
    [side]
        side=1
        controller=human
        team_name="good"
        user_team_name= _ "Outcasts"
        id=sapphire
        name= _ "Kryz'tara"
        type="Fading Drake"
        unrenameable=yes
        canrecruit=yes
        recruit="Saurian Skirmisher, Saurian Augur, Drake Glider"
        {GOLD 125 110 100}
        fog=yes
        shroud=no
    [/side]
    [side]
        side=2
        controller=ai
        team_name="clan"
        user_team_name= _ "Drakes"
        no_leader=yes
        gold=0
    [/side]
    [side]
        side=3
        controller=ai
        team_name="wildlife"
        user_team_name= _ "Wildlife"
        no_leader=yes
        gold=0
    [/side]
#define DRAKE_SNOW_PENALTY
    [object]
        silent=yes
        duration=scenario
        [filter]
            race=drake
        [/filter]
        [effect]
            apply_to=movement_costs
            replace=true
            [movement_costs]
                frozen=3
            [/movement_costs]
        [/effect]
    [/object]
#enddef
#define RETREAT_LOGIC
    [if]
        [have_unit]
            side=2
        [/have_unit]
        [then]
            [if]
                [have_unit]
                    id=announcer
                    side=2
                [/have_unit]
                [then]
                    [message]
                        speaker=announcer
                        message= _ "The cold is freezing my blood. It is not worth chasing these traitors, let the storm take care of them."
                    [/message]
                [/then]
                [else]
                    [message]
                        side=2
                        message= _ "The cold is freezing my blood. It is not worth chasing these traitors, let the storm take care of them."
                    [/message]
                [/else]
            [/if]
            [kill]
                side=2
                animate=no
                fire_event=no
            [/kill]
        [/then]
    [/if]
#enddef
    [event]
        name=prestart
        [recall]
            id=krix
        [/recall]
        [recall]
            id=vash
        [/recall]
        [unit]
            type="Wolf"
            side=3
            x,y=2,3
            [/unit]
        [unit]
            type="Great Wolf"
            side=3
            x,y=3,3
        [/unit]
        [unit]
            type="Icemonax"
            side=3
            x,y=15,15
        [/unit]
        [unit]
            type="Icemonax"
            side=3
            x,y=16,15
        [/unit]
        [store_unit]
            [filter]
                race=drake
            [/filter]
            variable=initial_drakes
        [/store_unit]
        [foreach]
            array=initial_drakes
            [do]
                [modify_unit]
                    [filter]
                        id=$this_item.id
                    [/filter]
                    {DRAKE_SNOW_PENALTY}
                [/modify_unit]
            [/do]
        [/foreach]
        {CLEAR_VARIABLE initial_drakes}
    [/event]
    [event]
        name=recruit,recall
        first_time_only=no
        [filter]
            race=drake
        [/filter]
        [modify_unit]
            [filter]
                id=$unit.id
            [/filter]
            {DRAKE_SNOW_PENALTY}
        [/modify_unit]
    [/event]
    [event]
        name=start
        [message]
            speaker=vash
            message= _ "We cannot rest here! The Clan's hunters are already closing in."
        [/message]
        [message]
            speaker=krix
            message= _ "Where should we run? There is nothing but ice and death up this mountain. If their spears don't kill us, the frost will."
        [/message]
        [message]
            speaker=sapphire
            message= _ "We have no choice. To turn back is certain death; to go forward is our only chance."
        [/message]
        [message]
            speaker=sapphire
            message= _ "The storm bites them just as hard as it bites us. If we can endure the cold longer than they can, they will be forced to turn back."
        [/message]
        [message]
            speaker=krix
            message= _ "It seems we are not the only ones fleeing. Look, some Augurs used the chaos of the fire to slip away. They are asking to join us."
        [/message]
        [message]
            speaker=narrator
            image="wesnoth-icon.png"
            message= _ "You may now recruit Saurian Augurs."
        [/message]
        [message]
            speaker=sapphire
            message= _ "Good. We will need their healing arts to keep our blood warm. Gather them up, we move immediately!"
        [/message]
        [message]
            speaker=krix
            message= _ "Many of our kin already lie frozen in the snow... perhaps this rebellion was a mistake."
        [/message]
        [message]
            speaker=vash
            message= _ "Would you prefer to die a slave in a warm cage? The snow may slow us, Krix, but it will not stop us."
        [/message]
        [objectives]
            [objective]
            description= _ "Climb the mountain"
            condition="win"
            [/objective]
            [objective]
            description= _ "Death of Kryz'tara, Vash, or Krix"
            condition="lose"
            [/objective]
            [objective]
            description= _ "Turns run out"
            condition="lose"
            [/objective]
            [gold_carryover]
                bonus=no
                carryover_percentage=40
            [/gold_carryover]
            [note]
                description= _ "Drakes require one more movement point on frozen terrain"
            [/note]
            [note]
                description= _ "Starting from turn 3, all drakes take 3 cold damage per turn"
            [/note]
            [note]
                description= _ "Saurians that end their turn on frozen terrain become slowed for a turn"
            [/note]
        [/objectives]
    [/event]
    [event]
        name=side turn
        first_time_only=no
        [modify_unit]
            [filter]
                side=1
                race=lizard
                [filter_location]
                    terrain=Aa*,Ha*,Ms*
                [/filter_location]
            [/filter]
            [status]
                slowed=yes
            [/status]
        [/modify_unit]
    [/event]
    [event]
        name=side turn
        first_time_only=no
        [if]
            [variable]
                name=turn_number
                greater_than_equal_to=3
            [/variable]
            [then]
                [harm_unit]
                    [filter]
                        side=$side_number
                        race=drake
                    [/filter]
                    amount=3
                    damage_type=cold
                    kill=no
                    animate=yes
                [/harm_unit]
            [/then]
        [/if]
    [/event]
    [event]
        name=turn 3
        [unit]
            type="Drake Flare"
            side=2
            id=announcer
            name= _ "Vlaag"
            x,y=16,45
        [/unit]
        [unit]
            type="Drake Arbiter"
            side=2
            x,y=10,45
        [/unit]
        [unit]
            type="Drake Clasher"
            side=2
            x,y=13,45
        [/unit]
        [unit]
            type="Drake Fighter"
            side=2
            x,y=4,44
        [/unit]
        [unit]
            type="Drake Glider"
            side=2
            x,y=21,44
        [/unit]
        [message]
            speaker=announcer
            message= _ "After them! Do not take any prisoners!"
        [/message]
        [store_unit]
            [filter]
                race=drake
            [/filter]
            variable=initial_drakes
        [/store_unit]
        [foreach]
            array=initial_drakes
            [do]
                [modify_unit]
                    [filter]
                        id=$this_item.id
                    [/filter]
                    {DRAKE_SNOW_PENALTY}
                [/modify_unit]
            [/do]
        [/foreach]
        {CLEAR_VARIABLE initial_drakes}
    [/event]
    [event]
        name=turn 8
        [unit]
            type="Great Wolf"
            side=3
            x,y=3,3
        [/unit]
        [unit]
            type="Wolf"
            side=3
            x,y=4,2
        [/unit]
        [unit]
            type="Icemonax"
            side=3
            x,y=16,7
        [/unit]
        [unit]
            type="Icemonax"
            side=3
            x,y=17,8
        [/unit]
    [/event]
    [event]
        name=turn 16
        [unit]
            type="Wolf"
            side=3
            x,y=3,3
        [/unit]
        [unit]
            type="Icemonax"
            side=3
            x,y=16,7
        [/unit]
#ifndef EASY
        [unit]
            type="Icemonax"
            side=3
            x,y=17,8
        [/unit]
#endif
    [/event]
#ifdef EASY
    [event]
        name=turn 7
        {RETREAT_LOGIC}
    [/event]
#endif
#ifdef NORMAL
    [event]
        name=turn 8
        {RETREAT_LOGIC}
    [/event]
#endif
#ifdef HARD
    [event]
        name=turn 9
        {RETREAT_LOGIC}
    [/event]
#endif
    [event]
        name=moveto
        first_time_only=yes
        [filter]
            side=1
            x,y=1-22,1-13
        [/filter]
        [message]
            speaker=unit
            message= _ "I see a cave entrance."
        [/message]
        [message]
            speaker=sapphire
            message= _ "The peak is too far, let's take shelter in the cave for now."
        [/message]
        [objectives]
            [objective]
            description= _ "Enter the cave with Kryz'tara"
            condition="win"
            [/objective]
            [objective]
            description= _ "Death of Kryz'tara, Vash, or Krix"
            condition="lose"
            [/objective]
            [objective]
            description= _ "Turns run out"
            condition="lose"
            [/objective]
            [gold_carryover]
                bonus=no
                carryover_percentage=40
            [/gold_carryover]
            [note]
                description= _ "Drakes require one extra move per frozen terrain"
            [/note]
            [note]
                description= _ "Starting from turn 3, all drakes take 3 cold damage per turn"
            [/note]
            [note]
                description= _ "Saurians that end their turn on a frozen terrain become slowed for a turn"
            [/note]
        [/objectives]
        [event]
            name=moveto
            [filter]
                id=sapphire
                x,y=10-14,2-5
            [/filter]
            [message]
                speaker=sapphire
                message= _ "I don't feel well..."
            [/message]
            [endlevel]
                result=victory
                bonus=no
                carryover_percentage=40
                carryover_add=yes
            [/endlevel]
        [/event]
    [/event]
    [event]
        name=time over
        [message]
            speaker=sapphire
            message= _ "We could not make it in time. This is hopeless."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name="last breath"
        [filter]
            id=sapphire,krix,vash
        [/filter]
        [message]
            speaker=unit
            message= _ "How shall my friends escape without me?"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
[/scenario]