#textdomain wesnoth-The_Sapphire_of_Ice
[scenario]
    id=03_Cave_Entrance
    next_scenario=04_Dwarves_Besieged
    name= _ "Cave Entrance"
    map_data="{~add-ons/The_Sapphire_of_Ice/maps/03_Cave_Entrance.map}"
    {UNDERGROUND}
    turns=30
    victory_when_enemies_defeated=no
    [side]
        side=1
        controller=human
        team_name="good"
        user_team_name= _ "Outcasts"
        id=sapphire
        name= _ "Kryz'tara"
        type="Fading Drake"
        unrenameable=yes
        canrecruit=yes
        recruit="Saurian Skirmisher, Saurian Augur, Drake Glider"
        gold=125
        shroud=yes
    [/side]
    [side]
        side=2
        controller=ai
        team_name="bad"
        user_team_name= _ "Cave Dwellers"
        no_leader=yes
        gold=0
        hidden=yes
        [ai]
            aggression=0.99
            caution=0.0
            grouping=no
        [/ai]
    [/side]
#define SPAWN_BAT TYPE X Y
    [unit]
        type={TYPE}
        side=2
        x,y={X},{Y}
        passable=yes
    [/unit]
#enddef
    [event]
        name=prestart
        [recall]
            id=krix
        [/recall]
        [recall]
            id=vash
        [/recall]
        [object]
            silent=yes
            duration=scenario
            [filter]
                id=sapphire
            [/filter]
            [effect]
                apply_to=attack
                increase_damage=-2
            [/effect]
        [/object]
        [modify_unit]
            [filter]
                id=sapphire
            [/filter]
            [status]
                unhealable=yes
            [/status]
        [/modify_unit]
        [set_variable]
            name=freezing
            value=yes
        [/set_variable]
        [set_variable]
            name=unlocked
            value=no
        [/set_variable]
        [capture_village]
            side=1
            x,y=1,3
        [/capture_village]
    [/event]
    [event]
        name=start
        [message]
            speaker=sapphire
            message= _ "Why is it... freezing in here? I can't feel my claws."
        [/message]
        [message]
            speaker=krix
            message= _ "It's not the cave. It's <i>you</i>. The storm put out your inner flame. I tried to heal you, but nothing works. You are freezing from the inside out."
        [/message]
        [message]
            speaker=sapphire
            message= _ "So I survived the execution just to freeze to death? Come on, Krix. You have to be able to do something."
        [/message]
        [message]
            speaker=krix
            message= _ "I can't! I'm cold-blooded, remember? I don't make heat, I just borrow it. We need a real fire source... something deep underground to kindle your heart."
        [/message]
        [message]
            speaker=vash
            message= _ "I can help! I've got fire breath. I can warm him up right now."
        [/message]
        [message]
            speaker=krix
            message= _ "You're a Glider, Vash. You're a matchstick; he needs a bonfire. Besides, you're barely standing yourself. Don't waste your breath."
        [/message]
        [message]
            speaker=sapphire
            message= _ "Fine. Deeper it is. Ugh... damn, this really hurts."
        [/message]
        [objectives]
            [objective]
                description= _ "Proceed deeper into the cave"
                condition="win"
            [/objective]
            [objective]
                description= _ "Death of Kryz'tara, Vash, or Krix"
                condition="lose"
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition="lose"
            [/objective]
            [gold_carryover]
                bonus=no
                carryover_percentage=40
            [/gold_carryover]
        [/objectives]
    [/event]
    [event]
        name=new turn
        first_time_only=no
        [filter_condition]
            [variable]
                name=turn_number
                greater_than_equal_to=5
            [/variable]
            [variable]
                name=turn_number
                less_than_equal_to=9
            [/variable]
            [or]
                [variable]
                name=turn_number
                greater_than_equal_to=15
            [/variable]
            [variable]
                name=turn_number
                less_than_equal_to=20
            [/variable]
            [/or]
        [/filter_condition]
        [set_variable]
            name=turn_remainder
            value=$turn_number
        [/set_variable]
        [set_variable]
            name=turn_remainder
            modulo=2
        [/set_variable]
        [if]
            [variable]
                name=turn_remainder
                equals=0
            [/variable]
            [then]
                {SPAWN_BAT "Vampire Bat" 24 3}
#ifndef EASY
                {SPAWN_BAT "Blood Bat" 15 16}
#endif
                [if]
                    [variable]
                        name=unlocked
                        equals=yes
                    [/variable]
                    [then]
                        {SPAWN_BAT "Blood Bat" 4 7}
                    [/then]
                [/if]
            [/then]
            [else]
                {SPAWN_BAT "Blood Bat" 20 5}
#ifndef EASY
                {SPAWN_BAT "Vampire Bat" 24 9}
#endif
                [if]
                    [variable]
                        name=unlocked
                        equals=yes
                    [/variable]
                    [then]
                        {SPAWN_BAT "Vampire Bat" 4 7}
                    [/then]
                [/if]
            [/else]
        [/if]
        {CLEAR_VARIABLE turn_remainder}
    [/event]
    [event]
        name=turn 14
#ifdef EASY
        [message]
            speaker=krix
            message= _ "Look at those marks. There is a colony of ants nearby."
        [/message]
#endif
#ifdef MEDIUM
        [message]
            speaker=krix
            message= _ "The screeches are getting louder and louder. Stronger bats are approaching us."
        [/message]
#endif
#ifdef HARD
        [message]
            speaker=krix
            message= _ "Are those remains of spider webs? Be careful everyone, spider venom kills very swiftly."
        [/message]
#endif
    [/event]
    [event]
        name=turn 15
#ifdef EASY
        [unit]
            type="Soldier Ant"
            side=2
            x,y=26,4
            passable=yes
        [/unit]
        [unit]
            type="Soldier Ant"
            side=2
            x,y=27,12
            passable=yes
        [/unit]
#endif
#ifdef MEDIUM
        [unit]
            type="Dread Bat"
            side=2
            x,y=26,4
            passable=yes
        [/unit]
        [unit]
            type="Dread Bat"
            side=2
            x,y=27,12
            passable=yes
        [/unit]
#endif
#ifdef HARD
        [unit]
            type="Giant Spider"
            side=2
            x,y=26,4
            passable=yes
        [/unit]
        [unit]
            type="Giant Spider"
            side=2
            x,y=27,12
            passable=yes
        [/unit]
#endif
    [/event]
    [event]
        name=side turn
        first_time_only=no
        [filter_condition]
            [variable]
                name=side_number
                equals=1
            [/variable]
            [variable]
                name=freezing
                equals=yes
            [/variable]
        [/filter_condition]
        [harm_unit]
            [filter]
                id=sapphire
            [/filter]
            amount=12
            damage_type=cold
            fire_event=yes #for last breath to take place
            animate=yes
            kill=yes
        [/harm_unit]
    [/event]
    [event]
        name=last breath
        [filter]
            id=sapphire
        [/filter]
        [message]
            speaker=sapphire
            message= _ "The cold... it has finally... stopped."
        [/message]
        [message]
            speaker=krix
            message= _ "No! His flame is out! He is gone!"
        [/message]
        [message]
            speaker=vash
            message= _ "What shall we do? He is everything we have!"
        [/message]
        [message]
            speaker=krix
            message= _ "I will think of something. In the meantime, everybody stays together. I can hear some screeching in the distance, there must be bats nearby."
        [/message]
        [modify_unit]
            [filter]
                id=krix
            [/filter]
            canrecruit=yes
        [/modify_unit]
        [set_variable]
            name=revival_turn
            value=$turn_number
        [/set_variable]
        [set_variable]
            name=revival_turn
            add=2
        [/set_variable]
        [set_variable]
            name=death_x
            value=$unit.x
        [/set_variable]
        [set_variable]
            name=death_y
            value=$unit.y
        [/set_variable]
        [set_variable]
            name=freezing
            value=no
        [/set_variable]
        [objectives]
            [objective]
                description= _ "Proceed deeper into the cave"
                condition="win"
            [/objective]
            [objective]
                description= _ "Death of Vash or Krix"
                condition="lose"
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition="lose"
            [/objective]
            [gold_carryover]
                bonus=no
                carryover_percentage=40
            [/gold_carryover]
        [/objectives]
    [/event]
    [event]
        name=side turn
        first_time_only=no
        [filter_condition]
            [variable]
                name=turn_number
                equals=$revival_turn
            [/variable]
        [/filter_condition]
        [scroll_to_unit]
            id=krix
        [/scroll_to_unit]  
        [message]
            speaker=krix
            message= _ "Wait... do you feel that? The temperature is dropping rapidly."
        [/message]
        [color_adjust]
            red,green,blue=100,100,200
        [/color_adjust]
        [delay]
            time=500
        [/delay]
        [color_adjust]
            red,green,blue=0,0,0
        [/color_adjust]
        [unit]
            type=Glacial Drake
            id=sapphire
            name= _ "Kryz'tara"
            canrecruit=yes
            unrenameable=yes
            side=1
            x,y=$death_x,$death_y
            passable=yes
            [modifications]
                {TRAIT_RESILIENT}
                {TRAIT_QUICK}
            [/modifications]
        [/unit]
        [modify_unit]
            [filter]
                id=krix
            [/filter]
            canrecruit=no
        [/modify_unit]
        [message]
            speaker=sapphire
            message= _ "(Gasps for air) What happened? Am I dead?"
        [/message]
        [message]
            speaker=krix
            message= _ "Kryz'tara! You're alive!"
        [/message]
        [message]
            speaker=vash
            message= _ "But he's.. blue?! What happened to you?"
        [/message]
        [message]
            speaker=sapphire
            message= _ "(Looking at himself) How is this even possible? How can a drake turn into ice?"
        [/message]
        [message]
            speaker=krix
            message= _ "It seems that in a desperate attempt to remain alive, your inner flame embraced the cold and let it flow in your blood. You have become the Cold Heart, the first ice drake to ever be born!"
        [/message]
        [message]
            speaker=sapphire
            message= _ "That is ridiculous! That would imply that I breathe ice instead of fire, which is impossible. Look!"
        [/message]
        [animate_unit]
            [filter]
                id=sapphire
            [/filter]
            flag=attack
            [primary_attack]
                name=ice breath
            [/primary_attack]
            hits=yes
        [/animate_unit]
        [message]
            speaker=sapphire
            message= _ "No way! That was real ice!"
        [/message]
        [message]
            speaker=krix
            message= _ "That is who you are now. You have to accept the ice and live with it for the rest of your life."
        [/message]
        [message]
            speaker=vash
            message= _ "How <i>cool</i> is that? I wish I could breathe ice too."
        [/message]
        [message]
            speaker=vash
            message= _ "But what is our plan now? Where should we go?"
        [/message]
        [message]
            speaker=sapphire
            message= _ "We entered this cave to hide from the storm. We should proceed deeper and look for an opening to the other side of the mountain."
        [/message]
        [message]
            speaker=krix
            message= _ "I agree. Turning back right now may be an option for Kryz'tara thanks to his resistance to cold, but the rest of us will not survive the storm for much longer. Let us proceed deeper."
        [/message]
        {CLEAR_VARIABLE revival_turn}
        [sound]
            name=rumble.ogg
        [/sound]
        [terrain]
            x,y=8,6
            terrain=Uu
        [/terrain]
        [redraw]
            side=1
        [/redraw]
        [set_variable]
            name=unlocked
            value=yes
        [/set_variable]
        [objectives]
            [objective]
                description= _ "Proceed deeper into the cave with Kryz'tara"
                condition="win"
            [/objective]
            [objective]
                description= _ "Death of Kryz'tara, Vash, or Krix"
                condition="lose"
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition="lose"
            [/objective]
            [gold_carryover]
                bonus=no
                carryover_percentage=40
                carryover_add=yes
            [/gold_carryover]
        [/objectives]
#these 2 events are defined here to avoid finishing before transformation/triggering defeat on death
        [event]
            name="last breath"
            [filter]
                id=sapphire
            [/filter]
            [message]
                speaker=unit
                message= _ "How shall my friends escape without me?"
            [/message]
            [endlevel]
                result=defeat
            [/endlevel]
        [/event]
        [event]
            name=moveto
            [filter]
                id=sapphire
                x,y=33,1-17
            [/filter]
            [message]
                speaker=sapphire
                message= _ "Let us move deeper."
            [/message]
            {CLEAR_VARIABLE freezing}
            {CLEAR_VARIABLE unlocked}
            {CLEAR_VARIABLE death_x}
            {CLEAR_VARIABLE death_y}
            [endlevel]
                result=victory
                bonus=no
                carryover_percentage=40
                carryover_add=yes
            [/endlevel]
        [/event]
    [/event]
    [event]
        name=time over
        [message]
            speaker=sapphire
            message= _ "We could not make it in time. This is hopeless."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name="last breath"
        [filter]
            id=krix,vash
        [/filter]
        [message]
            speaker=unit
            message= _ "How shall my friends escape without me?"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
[/scenario]