#textdomain wesnoth-The_Sapphire_of_Ice
[scenario]
    id=04_Dwarves_Besieged
    next_scenario=05_The_Tribe
    name= _ "Dwarves Besieged"
    map_data="{~add-ons/The_Sapphire_of_Ice/maps/04_Dwarves_Besieged.map}"
    {UNDERGROUND}
    turns=50
    [side]
        side=1
        controller=human
        team_name="good"
        user_team_name= _ "Outcasts"
        id=sapphire
        name= _ "Kryz'tara"
        type="Glacial Drake"
        unrenameable=yes
        canrecruit=yes
        recruit="Saurian Skirmisher, Saurian Augur, Drake Glider"
        gold=250
        {INCOME 12 10 8}
        shroud=yes
    [/side]
    [side]
        side=2
        controller=ai
        persistent=yes
        team_name="good"
        user_team_name= _ "Trolls"
        id=troll_leader
        type="Troll Warrior"
        canrecruit=yes
        gold=200
        {INCOME 30 27 25}
        recruit="Troll Whelp"
    [/side]
    [side]
        side=3
        controller=ai
        team_name="bad"
        user_team_name= _ "Dwarves"
        id=dwarvish_leader
        type="Dwarvish Lord"
        canrecruit=yes
        gold=400
        recruit="Dwarvish Fighter, Dwarvish Guardsman, Dwarvish Ulfserker"
    [/side]
    [side]
        side=4
        controller=ai
        team_name="worse"
        user_team_name= _ "Rebels"
        no_leader=yes
        hidden=yes
    [/side]
    [side]
        side=5
        controller=ai
        team_name="worst"
        user_team_name= _ "Rebellious Rebels"
        no_leader=yes
        hidden=yes
    [/side]
    {STARTING_VILLAGES_ALL 3}
    [event]
        name=prestart
        [recall]
            id=krix
        [/recall]
        [recall]
            id=vash
        [/recall]
        [unit]
            side=2
            type="Troll Whelp"
            id=friendly_troll
            name= _ "Grug"
            x,y=30,10
            [modifications]
                {TRAIT_LOYAL_HERO}
            [/modifications]
        [/unit]
        [unit]
            side=2
            type="Troll Whelp"
            id=troll2
            x,y=31,10
            [modifications]
                {TRAIT_LOYAL}
            [/modifications]
        [/unit]
        [unit]
            side=2
            type="Troll Whelp"
            id=troll3
            x,y=33,9
            [modifications]
                {TRAIT_LOYAL}
            [/modifications]
        [/unit]
        {GENERIC_UNIT 2 "Troll Whelp" 34 12}
        {GENERIC_UNIT 2 "Troll Whelp" 35 17}
        {GENERIC_UNIT 2 "Troll Whelp" 37 12}
        {GENERIC_UNIT 2 "Troll Whelp" 43 12}
        {GENERIC_UNIT 2 "Troll Whelp" 39 13}
        {GENERIC_UNIT 2 "Troll Whelp" 39 12}
        {GENERIC_UNIT 2 "Troll Whelp" 44 14}
        {GENERIC_UNIT 2 "Troll Whelp" 40 16}
        {GENERIC_UNIT 2 "Troll Whelp" 40 14}
        {GENERIC_UNIT 2 "Troll Whelp" 45 18}
        {GENERIC_UNIT 2 "Troll Whelp" 31 16}
        {GENERIC_UNIT 2 "Troll Whelp" 32 14}
        {UNIT 2 "Troll Whelp" 38 15 hitpoints=12}
        {UNIT 2 "Troll Whelp" 41 17 hitpoints=24}
        {UNIT 2 "Troll Whelp" 37 15 hitpoints=14}
        {UNIT 2 "Troll Whelp" 43 18 hitpoints=32}
        {UNIT 3 "Dwarvish Fighter" 38 14 hitpoints=26}
        {UNIT 3 "Dwarvish Steelclad" 34 13 hitpoints=22}
        {UNIT 3 "Dwarvish Fighter" 41 16 hitpoints=12}
        {UNIT 3 "Dwarvish Fighter" 38 11 hitpoints=15}
        {GENERIC_UNIT 3 "Dwarvish Fighter" 37 19}
        {GENERIC_UNIT 3 "Dwarvish Fighter" 38 19}
        {GENERIC_UNIT 3 "Dwarvish Fighter" 43 20}
        {GENERIC_UNIT 3 "Dwarvish Guardsman" 42 20}
        {UNIT 3 "Dwarvish Guardsman" 36 23 ai_special=guardian}
        {UNIT 3 "Dwarvish Guardsman" 41 23 ai_special=guardian}
        {UNIT 3 "Dwarvish Guardsman" 34 31 ai_special=guardian}
        {UNIT 3 "Dwarvish Guardsman" 33 36 ai_special=guardian}
        {UNIT 3 "Dwarvish Guardsman" 47 40 ai_special=guardian}
        {UNIT 3 "Dwarvish Guardsman" 53 33 ai_special=guardian}
        {UNIT 3 "Dwarvish Guardsman" 47 28 ai_special=guardian}
        {GENERIC_UNIT 3 "Dwarvish Steelclad" 39 33}
        {GENERIC_UNIT 3 "Dwarvish Steelclad" 43 31}
        {GENERIC_UNIT 3 "Dwarvish Steelclad" 45 24}
        {GENERIC_UNIT 3 "Dwarvish Fighter" 37 22}
        {GENERIC_UNIT 3 "Dwarvish Fighter" 38 22}
        {GENERIC_UNIT 3 "Dwarvish Fighter" 42 22}
        {GENERIC_UNIT 3 "Dwarvish Fighter" 43 22}
        {GENERIC_UNIT 3 "Dwarvish Fighter" 36 30}
        {GENERIC_UNIT 3 "Dwarvish Fighter" 36 31}
        [set_variable]
            name=villages_to_destroy
            {QUANTITY value 18 19 20}
        [/set_variable]
    [/event]
    [event]
        name=start
        [message]
            speaker=sapphire
            message= _ "I am glad there are no bats to deal with here."
        [/message]
        [message]
            speaker=krix
            message= _ "Very pesky indeed. However, we should not lose track of our mission. We must proceed further."
        [/message]
        {MOVE_UNIT id=friendly_troll 28 7}
        {MOVE_UNIT id=troll2 30 6}
        {MOVE_UNIT id=troll3 32 5}
        [message]
            speaker=friendly_troll
            message= _ "Who goes in there? I see saurians approaching our lair."
        [/message]
        [message]
            speaker=krix
            message= _ "We are not a threat to you, we are only looking for a source of heat to revive our friend."
        [/message]
        [message]
            speaker=vash
            message= _ "You're a troll, right? Can you lead us to the nearest lava lake or something?"
        [/message]
        [message]
            speaker=friendly_troll
            message= _ "(Confused) What lava? We are attacking the dwarves, not enjoying a sunbath."
        [/message]
        [message]
            speaker=sapphire
            message= _ "Dwarves? There are dwarves nearby?"
        [/message]
        [message]
            speaker=troll_leader
            message= _ "Bring them here, Grug. We will need all the help available."
        [/message]
        [modify_side]
            side=1
            shroud=no
        [/modify_side]
        {SCROLL_TO 32 9}
        [delay]
            time=1500
        [/delay]
        {SCROLL_TO 40 17}
        [delay]
            time=1500
        [/delay]
        {SCROLL_TO 41 30}
        [delay]
            time=1500
        [/delay]
        [message]
            speaker=sapphire
            message= _ "What's going on here?"
        [/message]
        [message]
            speaker=troll_leader
            message= _ "We besieged the dwarves after their foolish assassination of our leader. They had hoped to break our unity and make us fight each other, but we saw past their trickery and decided on a challenge: the troll who kills the king of dwarves becomes our next leader."
        [message]
            speaker=troll_leader
            message= _ "The war should have ended months ago, had they not decided to destroy all the bridges to keep us out. Their plan almost succeeded, but we managed to save two bridges. We have been using them to attack the dwarves ever since."
        [/message]
        [message]
            speaker=troll_leader
            message= _ "They are still holding strong though; they had the foresight to prepare huge supplies for this war. Their fortress is almost impenetrable, as we can not cross over the chasm."
        [/message]
        [message]
            speaker=vash
            message= _ "But we can fly! We can sneak into their territory in the heat of battle and destroy their storages. Surely this would weaken them, right?"
        [/message]
        [message]
            speaker=sapphire
            message= _ "That sounds like a reasonable task. However, you must know that any drake who gets caught will be doomed to his death. Our numbers are already scarce, I am afraid to send any of you into this suicidal mission."
        [/message]
        [message]
            speaker=vash
            message= _ "You severely underestimate our ability to fly, Kryz. Our wings have struggled in those low-ceiling caves but will flap freely over that chasm. We shall move in and out like the wind. Worry not about us."
        [/message]
        [message]
            speaker=krix
            message= _ "There is no rush to end this war. The dwarves beat us in supplies, but our healing arts shall prove useful in case any of you gets injured. We entered this cave together, and we shall leave it together."
        [/message]
        [message]
            speaker=sapphire
            message= _ "I agree. We shall offer you our help, as long as we do not bear the brunt of the dwarves' axes and hammers. We will find an opening to strike through; wish us luck."
        [/message]
        [message]
            speaker=troll_leader
            message= _ "We have a plan then. We shall strike with our greatest might. I am also putting my son and two of his pals under your command. Rise, children of the earth, and kill all the scum!"
        [/message]
        {MOVE_UNIT id=sapphire 18 28}
        {MOVE_UNIT id=krix 18 28}
        {MOVE_UNIT id=vash 18 28}
        {MOVE_UNIT id=friendly_troll 18 28}
        {MOVE_UNIT id=troll2 18 28}
        {MOVE_UNIT id=troll3 18 28}
        [modify_unit]
            [filter]
                id=friendly_troll,troll2,troll3
            [/filter]
            side=1
        [/modify_unit]
        [objectives]
            [objective]
                description= _ "Destroy $villages_to_destroy villages to cut off the dwarvish supplies, then defeat the enemy leader"
                condition="win"
            [/objective]
            [objective]
                description= _ "Death of Kryz'tara, Vash, Krix, or Grug"
                condition="lose"
            [/objective]
            [objective]
                description= _ "Death of the troll leader"
                condition="lose"
            [/objective]
            [objective]
                description= _ "Death of 5 drake gliders"
                condition="lose"
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition="lose"
            [/objective]
            [gold_carryover]
                bonus=no
                carryover_percentage=0
            [/gold_carryover]
            [note]
                description= _ "Capturing an enemy village will lead to its destruction"
            [/note]
        [/objectives]
    [/event]
    [event]
        name=moveto
        first_time_only=no
        [filter]
            side=1,2
            [filter_location]
                terrain=*^V*
            [/filter_location]
        [/filter]
        [terrain]
            x,y=$x1,$y1
            terrain=Uu^Dr #rubble
        [/terrain]
        [redraw]
            side=1
        [/redraw]
        [message]
            speaker=unit
            message= "I have destroyed a village!"
        [/message]
        [set_variable]
            name=villages_destroyed
            add=1
        [/set_variable]
        [if]
            [variable]
                name=villages_destroyed
                equals=$villages_to_destroy
            [/variable]
            [then]
                [modify_unit]
                    [filter]
                        type="Dwarvish Guardsman"
                    [/filter]
                    side=4
                [/modify_unit]
                [modify_unit]
                    [filter]
                        type="Dwarvish Ulfserker"
                    [/filter]
                    side=5
                [/modify_unit]
                [message]
                    side=4
                    message= _ "Most of our supply lines have been destroyed! Our king is leading us to our doom! If we do not overthrow him we will all be thrown into the pit!"
                [/message]
                [message]
                    speaker=dwarvish_leader
                    message= _ "Traitors! Kill them all! Do not allow the enemy to cripple us from within!"
                [/message]
                [modify_side]
                    side=4,5
                    hidden=no
                [/modify_side]
                {CLEAR_VARIABLE villages_to_destroy}
                {CLEAR_VARIABLE villages_destroyed}
                {CLEAR_VARIABLE gliders_killed}
            [/then]
        [/if]
    [/event]
    [event]
        name="die"
        [filter]
            id=dwarvish_leader
        [/filter]
        [message]
            speaker=sapphire
            message= _ "Without their leader, the remaining dwarves stand no chance against us."
        [/message]
        [message]
            speaker=troll_leader
            message= _ "We have won. Let us return to the tribe and claim our prize."
        [/message]
        {CLEAR_VARIABLE villages_to_destroy}
        {CLEAR_VARIABLE villages_destroyed}
        {CLEAR_VARIABLE gliders_killed}
        [endlevel]
            result=victory
            carryover_percentage=0
        [/endlevel]
    [/event]
    [event]
        name="die"
        first_time_only=no
        [filter]
            side=1
            type="Drake Glider","Sky Drake","Hurricane Drake"
        [/filter]
        [set_variable]
            name=gliders_killed
            add=1
        [/set_variable]
        [if]
            [variable]
                name=gliders_killed
                equals=5
            [/variable]
            [then]
                [message]
                    speaker=sapphire
                    message= _ "We lost too many of our brethren!"
                [/message]
                [endlevel]
                    result=defeat
                [/endlevel]
            [/then]
        [/if]
    [/event]
    [event]
        name="last breath"
        [filter]
            id=sapphire
        [/filter]
        [message]
            speaker=unit
            message= _ "I finally embrace the cold of death."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name="last breath"
        [filter]
            id=krix,vash
        [/filter]
        [message]
            speaker=unit
            message= _ "How shall my friends escape without me?"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name="last breath"
        [filter]
            id=friendly_troll
        [/filter]
        [message]
            speaker=unit
            message= _ "Nooo the dwarves have killed me!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name="die"
        [filter]
            id=troll_leader
        [/filter]
        [message]
            speaker=sapphire
            message= _ "We can not do anything without him!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=time over
        [message]
            speaker=sapphire
            message= _ "We could not make it in time. This is hopeless."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
[/scenario]
