#textdomain wesnoth-The_Sapphire_of_Ice
[scenario]
    #TODO right-sided leader keeps getting himself killed with lots of gold remaining
    id=05_The_Tribe
    next_scenario=06_Lava_Lake
    name= _ "The Tribe"
    map_data="{~add-ons/The_Sapphire_of_Ice/maps/05_The_Tribe.map}"
    {UNDERGROUND}
    turns=27
    [side]
        side=1
        controller=human
        team_name="good"
        user_team_name= _ "Drakes"
        id=sapphire
        name= _ "Kryz'tara"
        type="Glacial Drake"
        unrenameable=yes
        canrecruit=yes
        gold=200
        recruit="Saurian Skirmisher, Saurian Augur, Drake Glider, Troll Whelp"
    [/side]
    [side]
        side=2
        controller=ai
        team_name="good"
        user_team_name= _ "Trolls"
        id=troll_leader
        type="Troll Warrior"
        canrecruit=yes
        gold=225
        recruit="Troll Whelp"
    [/side]
    [side]
        side=3
        controller=ai
        team_name="good"
        user_team_name= _ "Trolls"
        id=troll_ally1
        type="Troll"
        canrecruit=yes
        gold=100
        recruit="Troll Whelp"
    [/side]
    [side]
        side=4
        controller=ai
        team_name="bad"
        user_team_name= _ "Shamans"
        id=troll_enemy1
        type="Troll Shaman"
        canrecruit=yes
        {GOLD 250 290 325}
        recruit="Troll Whelp"
    [/side]
    [side]
        side=5
        controller=ai
        team_name="good"
        user_team_name= _ "Trolls"
        id=troll_ally2
        type="Troll"
        canrecruit=yes
        gold=100
        recruit="Troll Whelp"
    [/side]
    [side]
        side=6
        controller=ai
        team_name="bad"
        user_team_name= _ "Shamans"
        id=troll_enemy2
        type="Troll Shaman"
        canrecruit=yes
        {GOLD 250 290 325}
        recruit="Troll Whelp"
    [/side]
    {STARTING_VILLAGES 1 5}
    {STARTING_VILLAGES 2 7}
    {STARTING_VILLAGES 3 10}
    {STARTING_VILLAGES 4 7}
    {STARTING_VILLAGES 5 7}
    {STARTING_VILLAGES 6 4}
    [event]
        name=prestart
        [recall]
            id=krix
        [/recall]
        [recall]
            id=vash
        [/recall]
        [recall]
            id=friendly_troll
        [/recall]
        {GENERIC_UNIT 4 "Troll Shaman" 4 29}
#ifdef HARD
        {GENERIC_UNIT 4 "Troll Shaman" 5 34}
#endif
        {GENERIC_UNIT 4 "Troll Shaman" 12 33}
        {GENERIC_UNIT 6 "Troll Shaman" 40 23}
        {GENERIC_UNIT 6 "Troll Shaman" 37 29}
    [/event]
    [event]
        name=start
        [message]
            speaker=krix
            message= _ "So many trolls! Imagine their strength united under one leader."
        [/message]
        [message]
            speaker=friendly_troll
            message= _ "My father poured his soul into this war. We had already besieged the dwarves for months when you came along to help us. Many of the shamans called us foolish for trying to avenge our leader."
        [/message]
        [message]
            speaker=troll_leader
            message= _ "It feels great to be back. The rules of the challenge were clear: I am the leader of this tribe now."
        [/message]
        [message]
            speaker=troll_ally1
            message= _ "They have done it! They have killed the treacherous dwarves! We have a new leader!"
        [/message]
        [message]
            speaker=troll_ally2
            message= _ "Hail the victors! The bane of dwarves! Rise, children of the earth, for we shall be united once again!"
        [/message]
        [message]
            speaker=sapphire
            message= _ "(What a sight. With the tribe's provisions and guidance we shall resume our journey very soon.)"
        [/message]
        [message]
            speaker=troll_enemy1
            message= _ "Not so quick, stoneheads. They may have killed the dwarvish king, but take a look at their companions, they have ice spirits on their side."
        [/message]
        [message]
            speaker=troll_enemy2
            message= _ "Blasphemy! The order of shamans has never witnessed such a display of defiance to our holy fire. You might as well rally the dark spirits to fight your stupid cause!"
        [/message]
        [message]
            speaker=troll_leader
            message= _ "Nonsense! We are trolls, we crush those who try to disunite us. Our saurian allies sneaked into the town to disrupt the dwarven defenses. They saved the lives of hundreds of trolls! How dare you question my authority, shamans?"
        [/message]
        [message]
            speaker=sapphire
            message= _ "You and your stupid fire! We risked our lives while severely outnumbered, just to tip the balance of the battle in your favor. Is this how you thank us?"
        [/message]
        [message]
            speaker=krix
            message= _ "Kryz, it is not in our best interest to alienate the shamans."
        [/message]
        [message]
            speaker=vash
            message= _ "But he is right! I am tired of pretentious oligarchs claiming righteousness and prestige, living in complete isolation from the real world! These bastards have no right to chastise our methods, let alone defy their leader."
        [/message]
        [message]
            speaker=troll_enemy1
            message= _ "How dare you insult us in our own domain?! This talk will not lead anywhere, kill the intruders!"
        [/message]
        [message]
            speaker=troll_ally2
            message= _ "The shamans have betrayed the supreme leader! Kill them!"
        [/message]
        [message]
            speaker=troll_leader
            message= _ "This will be a bloodbath. Trolls should not have to fight one another. I curse the shamans for dragging us into this fight. Rise my servants, kill those who seek to divide us!"
        [/message]
        [message]
            speaker=troll_leader
            message= _ "Kryz'tara, I apologize for bringing you to this conflict. You do not have to fight this battle. If you decide to, then I shall place some of my soldiers under your command. You have proven yourself to be a great ally, after all."
        [/message]
        [message]
            speaker=sapphire
            message= _ "Drakes fighting drakes... Trolls fighting trolls... If it must be done, then so be it. I accept your offer."
        [/message]
        [message]
            speaker=narrator
            image="wesnoth-icon.png"
            message= _ "You may now recruit Troll Whelps."
        [/message]
        [objectives]
            [objective]
                description= _ "Defeat all enemy leaders"
                condition="win"
            [/objective]
            [objective]
                description= _ "Death of Kryz'tara, Vash, Krix, or Grug"
                condition="lose"
            [/objective]
            [objective]
                description= _ "Death of the troll leader"
                condition="lose"
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition="lose"
            [/objective]
            [gold_carryover]
                bonus=yes
                carryover_percentage=40
            [/gold_carryover]
        [/objectives]
    [/event]
    [event]
        name=last breath
        [filter]
            id=troll_enemy2
        [/filter]
        [message]
            speaker=troll_enemy2
            message= _ "Killed at the hands of blasphemers..."
        [/message]
    [/event]
    [event]
        name=last breath
        [filter]
            id=troll_enemy1
        [/filter]
        [message]
            speaker=troll_enemy1
            message= _ "May the flames never warm your hearts..."
        [/message]
    [/event]
    [event]
        name=enemies defeated
        [message]
            speaker=troll_leader
            message= _ "We are forever in debt to your help. If you ever require assistance, you know where to find us."
        [/message]
        [message]
            speaker=sapphire
            message= _ "The feeling is mutual, my friend. I am also thankful to you for dispatching a group of trolls with us. They will be of great help."
        [/message]
        [message]
            speaker=troll_leader
            message= _ "My pleasure, the trolls know a great leader when they see one. Those trolls chose to follow you and always will do."
        [/message]
        [message]
            speaker=krix
            message= _ "If I may ask, those shamans seem to dwell in domains of fire. We are actually searching for a way to re-ignite our friend in these caves."
        [/message]
        [message]
            speaker=troll_leader
            message= _ "Southwest from this cave is the holy Lake of Fire. Our shamans forbid us from visiting the shrine, claiming the source of life for all trolls must not be intruded on. Seeing that there are no shamans left around, I am sure some exceptions can be made."
        [/message]
        [endlevel]
            result=victory
            bonus=yes
            carryover_percentage=40
            carryover_add=yes
        [/endlevel]
    [/event]
    [event]
        name="last breath"
        [filter]
            id=sapphire
        [/filter]
        [message]
            speaker=unit
            message= _ "I finally embrace the cold of death."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name="last breath"
        [filter]
            id=krix,vash
        [/filter]
        [message]
            speaker=unit
            message= _ "How shall my friends escape without me?"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name="last breath"
        [filter]
            id=friendly_troll
        [/filter]
        [message]
            speaker=unit
            message= _ "Nooo the trolls have killed me!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name="die"
        [filter]
            id=troll_leader
        [/filter]
        [message]
            speaker=sapphire
            message= _ "We needed him!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=time over
        [message]
            speaker=sapphire
            message= _ "We could not make it in time. This is hopeless."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
[/scenario]
