#textdomain wesnoth-The_Sapphire_of_Ice
[scenario]
    id=08_The_Hammer
    next_scenario=09_Traitor
    name= _ "The Hammer"
    map_data="{~add-ons/The_Sapphire_of_Ice/maps/05_The_Tribe.map}"
    {UNDERGROUND}
    turns=36
    victory_when_enemies_defeated=no
    [side]
        side=1
        controller=human
        team_name="good"
        user_team_name= _ "Drakes"
        id=sapphire
        name= _ "Kryz'tara"
        type="Glacial Drake"
        unrenameable=yes
        canrecruit=yes
        x,y=7,32
        scroll_to_leader=no
        gold=300
        recruit="Saurian Skirmisher, Saurian Augur, Drake Glider, Troll Whelp"
        fog=yes
    [/side]
    [side]
        side=2
        controller=ai
        team_name="bad"
        user_team_name= _ "Dwarves"
        id=dwarvish_king
        type="Dwarvish Lord"
        canrecruit=yes
        {GOLD 180 210 250}
        recruit="Dwarvish Fighter, Dwarvish Guardsman, Dwarvish Thunderer"
        [ai]
            aggression=0.7
            caution=0.0
            grouping=no
        [/ai]
    [/side]
    [side]
        side=3
        controller=ai
        team_name="bad"
        user_team_name= _ "Dwarves"
        id=dwarvish_helper
        type="Dwarvish Steelclad"
        canrecruit=yes
        x,y=39,26
        {GOLD 80 100 120}
        income=8
        recruit="Dwarvish Fighter, Dwarvish Guardsman, Dwarvish Thunderer"
        [ai]
            aggression=0.7
            caution=0.0
            grouping=no
        [/ai]
    [/side]
    [side]
        side=4
        controller=ai
        team_name="statues"
        user_team_name= _ "Statues"
        noleader=yes
        hidden=yes
    [/side]
    [event]
        name=prestart
        [scroll_to]
            x,y=7,32
            immediate=yes
        [/scroll_to]
        [recall]
            id=krix
        [/recall]
        [recall]
            id=vash
        [/recall]
        [recall]
            id=friendly_troll
        [/recall]
        [capture_village]
            side=2
        [/capture_village]
        [terrain]
            terrain=Uu
            [and]
                terrain=Ce
            [/and]
        [/terrain]
        [terrain]
            terrain=Uh
            [and]
                terrain=Ke
            [/and]
        [/terrain]
    [/event]
    [event]
        name=start
        [message]
            speaker=sapphire
            message= _ "Are you saying the dwarves attacked the tribe in our absence?"
        [/message]
        [message]
            speaker=krix
            message= _ "The staff showed me many visions... I do not know if what I saw was the past or the future."
        [/message]
        [message]
            speaker=vash
            message= _ "But we crushed the dwarves, how could they assemble enough forces in such a short period of time?"
        [/message]
        [message]
            speaker=sapphire
            message= _ "The city we destroyed was one of many. Once aware of the recent conflict, the dwarves could easily assemble an army thirsty for blood."
        [/message]
        [message]
            speaker=friendly_troll
            message= _ "Does that mean we are too late... to save my father? To save my tribe?"
        [/message]
        [message]
            speaker=krix
            message= _ "I wish I knew the answer, Grug. We have to make contact with the trolls immediately."
        [/message]
        [message]
            speaker=vash
            message= _ "Do not lose hope, Grug. We will find your father and bring him back to safety."
        [/message]
        [objectives]
            [objective]
                description= _ "Search for survivors"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Kryz'tara, Vash, Krix, or Grug"
                condition=lose
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
            [gold_carryover]
                bonus=yes
                carryover_percentage=40
            [/gold_carryover]
        [/objectives]
    [/event]
    [event]
        name=turn 12
        [gold]
            side=2
            amount=200
        [/gold]
        [gold]
            side=3
            amount=150
        [/gold]
        [message]
            speaker=vash
            message= _ "They are receiving reinforcements!"
        [/message]
    [/event]
    [event]
        name=turn 18
        [gold]
            side=2
            amount=150
        [/gold]
        [gold]
            side=3
            amount=100
        [/gold]
        [message]
            speaker=vash
            message= _ "They are receiving reinforcements!"
        [/message]
    [/event]
    [event]
        name=turn 27
        [gold]
            side=2
            amount=100
        [/gold]
        [gold]
            side=3
            amount=80
        [/gold]
        [message]
            speaker=vash
            message= _ "They are receiving reinforcements!"
        [/message]
    [/event]
    [event]
        name=moveto
        first_time_only=yes
        [message]
            speaker=krix
            message= _ "This is not quite right. Give me a moment, I should be able to clear the fog."
        [/message]
        [event]
            name=new turn
            first_time_only=yes
            [message]
                speaker=krix
                message= _ "Let's see."
            [/message]
            {GENERIC_UNIT 2 "Dwarvish Steelclad" 15 16}
            {GENERIC_UNIT 2 "Dwarvish Steelclad" 31 23}
            {GENERIC_UNIT 2 "Dwarvish Fighter" 10 14}
            {GENERIC_UNIT 2 "Dwarvish Fighter" 26 20}
            {GENERIC_UNIT 2 "Dwarvish Fighter" 33 36}
            {GENERIC_UNIT 2 "Dwarvish Thunderer" 30 41}
            {GENERIC_UNIT 2 "Dwarvish Thunderer" 34 11}
            {GENERIC_UNIT 2 "Dwarvish Thunderer" 13 13}
            {GENERIC_UNIT 2 "Dwarvish Thunderer" 22 17}
            {GENERIC_UNIT 2 "Dwarvish Ulfserker" 20 14}
            {GENERIC_UNIT 2 "Dwarvish Ulfserker" 30 29}
            {GENERIC_UNIT 2 "Dwarvish Ulfserker" 33 8}
            {GENERIC_UNIT 3 "Dwarvish Fighter" 37 14}
#ifndef EASY
            {GENERIC_UNIT 2 "Dwarvish Ulfserker" 31 34}
#endif
#ifdef HARD
            {GENERIC_UNIT 2 "Dwarvish Berserker" 24 16}
#endif
            {UNIT 2 "Dwarvish Steelclad" 19 9 (
            ai_special=guardian
            [modifications]
                {TRAIT_LOYAL}
            [/modifications]
            )}
            {UNIT 2 "Dwarvish Steelclad" 27 5 (
            ai_special=guardian
            [modifications]
                {TRAIT_LOYAL}
            [/modifications]
            )}
            {UNIT 3 "Dwarvish Stalwart" 39 22 (
            ai_special=guardian
            [modifications]
                {TRAIT_LOYAL}
            [/modifications]
            )}
            {UNIT 3 "Dwarvish Stalwart" 40 29 (
            ai_special=guardian
            [modifications]
                {TRAIT_LOYAL}
            [/modifications]
            )}
            [modify_side]
                side=1
                fog=no
            [/modify_side]
            {SCROLL_TO 39 26}
            [delay]
                time=1000
            [/delay]
            {SCROLL_TO 22 15}
            [delay]
                time=1000
            [/delay]
            {SCROLL_TO 23 7}
            [delay]
                time=1500
            [/delay]
            [message]
                speaker=friendly_troll
                message= _ "Father!"
            [/message]
            [message]
                speaker=dwarvish_king
                message= _ "I thought you would never return. Come to your death."
            [/message]
            [message]
                speaker=krix
                message= _ "Grug, I am very sorry..."
            [/message]
            [message]
                speaker=friendly_troll
                message= _ "Don't be, those dwarves will regret the day they were born."
            [/message]
            [message]
                speaker=friendly_troll
                message= _ "Rise my friends, spare no soul! Crush the life out of them!"
            [/message]
            [modify_unit]
                [filter]
                    race=troll
                [/filter]
                [object]
                    duration=scenario
                    [effect]
                        apply_to=attack
                        increase_damage=3
                    [/effect]
                [/object]
            [/modify_unit]
            [message]
                speaker=narrator
                image="wesnoth-icon.png"
                message= _ "Trolls currently on the map or recall list deal +3 damage for the remainder of this scenario."
            [/message]
            [message]
                speaker=sapphire
                message= _ "Crushing them will not be enough. We must stop them from ever returning."
            [/message]
            [message]
                speaker=sapphire
                message= _ "Krix, I suggest petrifying the king and his strongest warriors. If statues of their fallen do not deter upcoming incursions, I do not know what will."
            [/message]
            [message]
                speaker=krix
                message= _ "Agreed. Some of them must escape and spread the word - we are not to be messed with."
            [/message]
            [message]
                speaker=krix
                message= _ "(Curse this staff... if only it showed me that vision earlier. If only we could arrive in time...)"
            [/message]
            [objectives]
                [objective]
                    description= _ "Petrify the dwarvish lord"
                    condition=win
                [/objective]
                [objective]
                    description= _ "Petrify 12 dwarves"
                    condition=win
                [/objective]
                [objective]
                    description= _ "Petrification of the other dwarven leader"
                    condition=lose
                [/objective]
                [objective]
                    description= _ "Death of a dwarven leader"
                    condition=lose
                [/objective]
                [objective]
                    description= _ "Death of Kryz'tara, Vash, Krix, or Grug"
                    condition=lose
                [/objective]
                [objective]
                    description= _ "Turns run out"
                    condition=lose
                [/objective]
                [gold_carryover]
                    bonus=yes
                    carryover_percentage=40
                [/gold_carryover]
            [/objectives]
        [/event]
    [/event]
    [event]
        name=petrified
        first_time_only=no
        [filter]
            [not]
                id=dwarvish_king,dwarvish_helper
            [/not]
        [/filter]
        [modify_unit]
            [filter]
                id=$unit.id
            [/filter]
            side=4
        [/modify_unit]
        {VARIABLE_OP dwarves_petrified add 1}
        [if]
            {VARIABLE_CONDITIONAL dwarves_petrified greater_than 11}
            {VARIABLE_CONDITIONAL king_petrified equals yes}
            [then]
                [fire_event]
                    name=mission_accomplished
                [/fire_event]
            [/then]
        [/if]
    [/event]
    [event]
        name=petrified
        [filter]
            id=dwarvish_king
        [/filter]
        {VARIABLE king_petrified yes}
        [fire_event]
            name=hammer_pickup
        [/fire_event]
        [if]
            {VARIABLE_CONDITIONAL dwarves_petrified greater_than 11}
            {VARIABLE_CONDITIONAL king_petrified equals yes}
            [then]
                [delay]
                    time=1000
                [/delay]
                [fire_event]
                    name=mission_accomplished
                [/fire_event]
            [/then]
        [/if]
    [/event]
    [event]
        name=hammer_pickup
        [message]
            speaker=krix
            message= _ "This dwarven hammer is different. Grug, you should take a look."
        [/message]
        [store_unit]
            variable=king_location
            [filter]
                id=dwarvish_king
            [/filter]
        [/store_unit]
        {MOVE_UNIT id=friendly_troll $king_location.x $king_location.y}
        {CLEAR_VARIABLE king_location}
        [message]
            speaker=friendly_troll
            message= _ "Powerful hammer indeed. Let me pick it up."
        [/message]
        {ADVANCE_UNIT (id=friendly_troll) "Hammer Troll"}
        [message]
            speaker=friendly_troll
            message= _ "I feel much stronger now. Our enemies stand no chance against us."
        [/message]
        [message]
            speaker=sapphire
            message= _ "Swing it carefully, we still don't know if it is safe to use."
        [/message]
    [/event]
    [event]
        name=mission_accomplished
        [message]
            speaker=dwarvish_helper
            message= _ "Dear lords of light, the monsters turned our finest warriors into a collection of statues!"
        [/message]
        [message]
            speaker=dwarvish_helper
            message= _ "What kind of dark sorcery is this?! Follow me, my men. This is not worth it."
        [/message]
        {MOVE_UNIT side=3 33 44}
        [kill]
            side=3
            animate=no
            fire_event=no
        [/kill]
        [kill]
            side=2
            [not]
                status=petrified
            [/not]
            animate=no
            fire_event=no
        [/kill]
        [message]
            speaker=vash
            message= _ "And never come back!"
        [/message]
        {FADE_TO_BLACK}
        [delay]
            time=1000
        [/delay]
        {FADE_IN}
        [message]
            speaker=sapphire
            message= _ "My friends, I have been thinking about this for some time. Our clan has pushed us into one tragedy after another, and I can't ignore it any longer."
        [/message]
        [message]
            speaker=sapphire
            message= _ "They drove us out of our homes, killed our friends, and forced us to endure many disasters, the last of which we just witnessed."
        [/message]
        [message]
            speaker=sapphire
            message= _ "I say they must pay for their crimes. We were weak, but we are strong now. We are powerful enough to completely wipe them out! Who is with me?"
        [/message]
        [message]
            speaker=krix
            message= _ "We are all behind you, Cold Heart. It is about time justice is served to those criminals."
        [/message]
        [message]
            speaker=vash
            message= _ "The clan has committed unspeakable acts against us, that is undeniable."
        [/message]
        [message]
            speaker=vash
            message= _ "However, how different would we be if we exterminated our own kin?"
        [/message]
        [message]
            speaker=vash
            message= _ "Come on, Kryz. We are powerful now. We can ascend to the surface, settle wherever we want, and live in peace. Think about it, nobody would dare attack us."
        [/message]
        [message]
            speaker=sapphire
            message= _ "Vash, your newfound pity for our enemies is beyond my comprehension. How dare you compare us to <i>them</i>? Have you forgotten how many of us they killed? Have you forgotten how many of us they enslaved? I have made my decision, the clan shall suffer for its crimes."
        [/message]
        [message]
            speaker=vash
            message= _ "..."
        [/message]
        [message]
            speaker=krix
            message= _ "What about you, Grug? Are the trolls coming?"
        [/message]
        [message]
            speaker=friendly_troll
            message= _ "Our leader, our shamans, our tribe... Sitting idle and waiting for our enemies to arrive is precisely how we lost this war."
        [/message]
        [message]
            speaker=friendly_troll
            message= _ "We shall follow you. We shall strike down your enemies. We shall show the world what trolls are capable of."
        [/message]
        [message]
            speaker=friendly_troll
            message= _ "Lead the way, Cold Heart."
        [/message]
        {CLEAR_VARIABLE dwarves_petrified}
        {CLEAR_VARIABLE king_petrified}
        [endlevel]
            result=victory
            bonus=yes
            carryover_percentage=40
            carryover_add=yes
        [/endlevel]
    [/event]
    [event]
        name=petrified
        [filter]
            id=dwarvish_helper
        [/filter]
        [message]
            speaker=sapphire
            message= _ "No, he was supposed to escape."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=dwarvish_king,dwarvish_helper
        [/filter]
        [message]
            speaker=unit
            message= _ "Fools! More dwarves are on the way!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=sapphire
        [/filter]
        [message]
            speaker=unit
            message= _ "I finally embrace the cold of death."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=krix,vash,friendly_troll
        [/filter]
        [message]
            speaker=unit
            message= _ "How shall my friends escape without me?"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=time over
        [message]
            speaker=sapphire
            message= _ "We could not make it in time. This is hopeless."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
[/scenario]
