#textdomain wesnoth-The_Sapphire_of_Ice
[scenario]
    id=09_Traitor
    next_scenario=10_Revenge
    name= _ "Traitor"
    map_data="{~add-ons/The_Sapphire_of_Ice/maps/02_Bitter_Ascension.map}"
    {DEFAULT_SCHEDULE}
    [time_area]
        x=9-15
        y=2-5
        {UNDERGROUND}
    [/time_area]
    turns=-1
    victory_when_enemies_defeated=no
    [side]
        side=1
        controller=human
        team_name="good"
        user_team_name= _ "Kryz'tara"
        id=sapphire
        name= _ "Kryz'tara"
        type="Fimbulwinter Drake"
        unrenameable=yes
        canrecruit=yes
        x,y=12,4
        scroll_to_leader=no
        recruit="Saurian Skirmisher, Saurian Augur, Troll Whelp"
        gold=160
        fog=yes
    [/side]
    [side]
        side=2
        controller=ai
        team_name="wildlife"
        user_team_name= _ "Wildlife"
        no_leader=yes
        gold=0
        [ai]
            aggression=0.99
            caution=0.0
            grouping=no
        [/ai]
    [/side]
    [event]
        name=prestart
        [scroll_to]
            x,y=12,4
            immediate=yes
        [/scroll_to]
        [recall]
            id=krix
        [/recall]
        [recall]
            id=vash
        [/recall]
        [recall]
            id=friendly_troll
        [/recall]
        [terrain]
            terrain=Gg
            [and]
                terrain=Ce
            [/and]
        [/terrain]
        [terrain]
            terrain=Gg
            [and]
                terrain=Ke
            [/and]
        [/terrain]
        [terrain]
            terrain=Ce
            x,y=11-13,4-5
        [/terrain]
        [terrain]
            terrain=Ke
            x,y=12,4
        [/terrain]
        [set_variable]
            name=yetis_to_kill
            {QUANTITY value 2 3 4}
        [/set_variable]
    [/event]
    [event]
        name=start
        [message]
            speaker=sapphire
            message= _ "Few hours separate us from our destination."
        [/message]
        [message]
            speaker=friendly_troll
            message= _ "Those drakes will not know what hit them."
        [/message]
        [message]
            speaker=vash
            message= _ "...unless I warn them first. Sorry Kryz, the gliders set out to escape from tyranny, not to embrace it under new leadership."
        [/message]
        [message]
            speaker=vash
            message= _ "See you on the other side."
        [/message]
        [modify_unit]
            [filter]
                id=vash
            [/filter]
            side=2
        [/modify_unit]
        {MOVE_UNIT id=vash 10 17}
        [message]
            speaker=sapphire
            message= _ "Traitor!"
        [/message]
        [message]
            speaker=krix
            message= _ "I knew he could not be trusted. What should we do?"
        [/message]
        [message]
            speaker=sapphire
            message= _ "He's a faster flyer than any of you. Our element of surprise has perished. We must strike before they can organize a proper line of defense."
        [/message]
        {FADE_TO_BLACK}
        [delay]
            time=1000
        [/delay]
        [modify_side]
            side=1
            shroud=yes
        [/modify_side]
        [modify_turns]
            value=1
        [/modify_turns]
        [remove_shroud]
            side=1
            x,y=0-23,14-46
            include_borders=yes
        [/remove_shroud]
        [terrain]
            terrain=^Xo
            layer=overlay
            x,y=1-22,13
        [/terrain]
        [modify_unit]
            [filter]
                id=vash
            [/filter]
            side=1
            canrecruit=yes
        [/modify_unit]
        [store_unit]
            [filter]
                side=1
                [not]
                    id=vash
                [/not]
            [/filter]
            variable=stored_side
            kill=yes
        [/store_unit]
        [scroll_to]
            x,y=10,17
        [/scroll_to]
        {FADE_IN}
        [message]
            speaker=vash
            message= _ "I must find a way to delay them. Perhaps I should trigger an avalanche and bring yetis out of their hiding. This will buy me enough time to warn the clan."
        [/message]
        [objectives]
            [objective]
                description= _ "Move Vash to the highlighted hexes"
                condition=win
            [/objective]
            [objective]
                description= _ "Avoid engaging with the wildlife"
                condition=win
            [/objective]
            [objective]
                description= _ "Vash attacks another unit"
                condition=lose
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
            [note]
                description= _ "Vash's movement points are fully recovered after every move"
            [/note]
        [/objectives]
        {PLACE_IMAGE "items/gohere.png" 3 17}
        {PLACE_IMAGE "items/gohere.png" 20 19}
#ifndef EASY
        {PLACE_IMAGE "items/gohere.png" 19 29}
#endif
#ifdef HARD
        {PLACE_IMAGE "items/gohere.png" 4 32}
#endif
    [/event]
    [event]
        name=moveto
        first_time_only=no
        [filter]
            id=vash
        [/filter]
        [modify_unit]
            [filter]
                id=vash
            [/filter]
            moves=$unit.max_moves
        [/modify_unit]
        [if]
            {VARIABLE_CONDITIONAL x1 equals 3}
            {VARIABLE_CONDITIONAL y1 equals 17}
            {VARIABLE_CONDITIONAL first_hex not_equals "yes"}
            [then]
                {VARIABLE_OP hexes_achieved add 1}
                {VARIABLE_OP first_hex value "yes"}
                {REMOVE_IMAGE 3 17}
                [sound]
                    name=drake-die.ogg
                [/sound]
                [message]
                    speaker=narrator
                    message= _ "Vash's roar is heard all over the mountain."
                [/message]
                {GENERIC_UNIT 2 "Yeti" 2 18}
                {GENERIC_UNIT 2 "Wolf" 2 17}
                {GENERIC_UNIT 2 "Wolf" 4 17}
                {GENERIC_UNIT 2 "Great Wolf" 3 18}
            [/then]
        [/if]
        [if]
            {VARIABLE_CONDITIONAL x1 equals 20}
            {VARIABLE_CONDITIONAL y1 equals 19}
            {VARIABLE_CONDITIONAL second_hex not_equals "yes"}
            [then]
                {VARIABLE_OP hexes_achieved add 1}
                {VARIABLE_OP second_hex value "yes"}
                {REMOVE_IMAGE 20 19}
                [sound]
                    name=drake-die.ogg
                [/sound]
                [message]
                    speaker=narrator
                    message= _ "Vash's roar is heard all over the mountain."
                [/message]
                {GENERIC_UNIT 2 "Yeti" 21 20}
                {GENERIC_UNIT 2 "Wolf" 21 19}
                {GENERIC_UNIT 2 "Great Wolf" 20 18}
            [/then]
        [/if]
#ifndef EASY
        [if]
            {VARIABLE_CONDITIONAL x1 equals 19}
            {VARIABLE_CONDITIONAL y1 equals 29}
            {VARIABLE_CONDITIONAL third_hex not_equals "yes"}
            [then]
                {VARIABLE_OP hexes_achieved add 1}
                {VARIABLE_OP third_hex value "yes"}
                {REMOVE_IMAGE 19 29}
                [sound]
                    name=drake-die.ogg
                [/sound]
                [message]
                    speaker=narrator
                    message= _ "Vash's roar is heard all over the mountain."
                [/message]
                {GENERIC_UNIT 2 "Yeti" 20 30}
                {GENERIC_UNIT 2 "Wolf" 21 28}
                {GENERIC_UNIT 2 "Great Wolf" 21 29}
            [/then]
        [/if]
#endif
#ifdef HARD
        [if]
            {VARIABLE_CONDITIONAL x1 equals 4}
            {VARIABLE_CONDITIONAL y1 equals 32}
            {VARIABLE_CONDITIONAL fourth_hex not_equals "yes"}
            [then]
                {VARIABLE_OP hexes_achieved add 1}
                {VARIABLE_OP fourth_hex value "yes"}
                {REMOVE_IMAGE 4 32}
                [sound]
                    name=drake-die.ogg
                [/sound]
                [message]
                    speaker=narrator
                    message= _ "Vash's roar is heard all over the mountain."
                [/message]
                {GENERIC_UNIT 2 "Yeti" 5 31}
                {GENERIC_UNIT 2 "Wolf" 5 32}
                {GENERIC_UNIT 2 "Great Wolf" 5 33}
            [/then]
        [/if]
#endif
        [if]
            {VARIABLE_CONDITIONAL hexes_achieved equals $yetis_to_kill}
            [then]
                {CLEAR_VARIABLE first_hex}
                {CLEAR_VARIABLE second_hex}
                {CLEAR_VARIABLE third_hex}
                {CLEAR_VARIABLE fourth_hex}
                {CLEAR_VARIABLE hexes_achieved}
                {QUAKE "rumble.ogg"}
                [terrain]
                    terrain=Aa
                    [and]
                        terrain=Re
                    [/and]
                [/terrain]
                [message]
                    speaker=narrator
                    message= _ "The mountain has answered your call - snow covers the entire trail."
                [/message]
                [message]
                    speaker=vash
                    message= _ "This should delay them, I must rush south now."
                [/message]
                [objectives]
                    [objective]
                        description= _ "Move Vash to the southern border"
                        condition=win
                    [/objective]
                    [objective]
                        description= _ "Avoid engaging with the wildlife"
                        condition=win
                    [/objective]
                    [objective]
                        description= _ "Vash attacks another unit"
                        condition=lose
                    [/objective]
                    [objective]
                        description= _ "Turns run out"
                        condition=lose
                    [/objective]
                    [note]
                        description= _ "Vash's movement points are fully recovered after every move"
                    [/note]
                [/objectives]
                [event]
                    name=moveto
                    [filter]
                        id=vash
                        x,y=1-22,45
                    [/filter]
                    {FADE_TO_BLACK}
                    [delay]
                        time=500
                    [/delay]
                    [foreach]
                        array=stored_side
                        [do]
                            [unstore_unit]
                                variable=this_item
                            [/unstore_unit]
                        [/do]
                    [/foreach]
                    {CLEAR_VARIABLE stored_side}
                    [modify_unit]
                        [filter]
                            id=vash
                        [/filter]
                        canrecruit=no
                    [/modify_unit]
                    [store_unit]
                        variable=stored_vash
                        [filter]
                            id=vash
                        [/filter]
                        kill=yes
                    [/store_unit]
                    [terrain]
                        terrain=^
                        layer=overlay
                        x,y=1-22,13
                    [/terrain]
                    [modify_side]
                        side=1
                        fog=yes
                        shroud=no
                        reset_view=yes
                        recruit="Saurian Skirmisher, Saurian Augur, Troll Whelp"
                    [/modify_side]
                    [redraw]
                        clear_shroud=yes
                    [/redraw]
                    [modify_turns]
                        value=-1
                    [/modify_turns]
                    [capture_village]
                    [/capture_village]
                    {FADE_IN}
                    [message]
                        speaker=sapphire
                        message= _ "I never expected you to be so pathetic, Vash."
                    [/message]
                    [message]
                        speaker=friendly_troll
                        message= _ "He's not alone. Many of the gliders managed to sneak out with him."
                    [/message]
                    [message]
                        speaker=sapphire
                        message= _ "Veterans remain loyal to us. As for the traitors, they will share the same fate as their foolish leader."
                    [/message]
                    [message]
                        speaker=narrator
                        image="wesnoth-icon.png"
                        message= _ "You may no longer recruit drake gliders. Recalls are not affected."
                    [/message]
                    [message]
                        speaker=krix
                        message= _ "Look at that avalanche! It will be extremely difficult for us to cross the snow alone. You must protect us."
                    [/message]
                    [message]
                        speaker=krix
                        message= _ "Besides, I doubt covering the road in snow was his only plan. Proceed very carefully, the disturbance in the mountain may bring out more surprises than expected."
                    [/message]
                    [objectives]
                        [objective]
                            description= _ "Proceed south"
                            condition=win
                        [/objective]
                        [objective]
                            description= _ "Death of Kryz'tara, Krix, or Grug"
                            condition=lose
                        [/objective]
                        [gold_carryover]
                            carryover_percentage=100
                        [/gold_carryover]
                        [note]
                            description= _ "Every turn spent during this scenario gives the clan more time to prepare."
                        [/note]
                    [/objectives]
                [/event]
            [/then]
        [/if]
    [/event]
    [event]
        name=sighted
        [filter]
            type="Yeti"
        [/filter]
        [filter_second]
            [not]
                id=vash
            [/not]
        [/filter_second]
        [message]
            speaker=krix
            message= _ "Yetis! This is extremely dangerous, stick together everyone."
        [/message]
        [message]
            speaker=sapphire
            message= _ "I cannot cross the mountain with those monsters on my tail. Besides, they will easily hunt down our saurian and troll friends. There's no escaping their pursuit in the snow."
        [/message]
        [message]
            speaker=sapphire
            message= _ "We move together. No one crosses the mountain until all yetis are dead."
        [/message]
        [objectives]
            [objective]
                description= _ "Kill all the yetis, then move Kryz'tara to the southern border"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Kryz'tara, Krix, or Grug"
                condition=lose
            [/objective]
            [gold_carryover]
                carryover_percentage=100
            [/gold_carryover]
            [note]
                description= _ "Every turn spent during this scenario gives the clan more time to prepare."
            [/note]
        [/objectives]
    [/event]
    [event]
        name=new turn
        first_time_only=no
        [filter_condition]
            [have_unit]
                status=petrified
            [/have_unit]
        [/filter_condition]
        [unpetrify]
        [/unpetrify]
        [if]
            {VARIABLE_CONDITIONAL seen_message not_equals "yes"}
            [then]
                {VARIABLE seen_message "yes"}
                [message]
                    speaker=krix
                    message= _ "The staff can not petrify those monsters forever."
                [/message]
            [/then]
        [/if]
    [/event]
    [event]
        name=new turn
        first_time_only=no
        {VARIABLE turn_remainder $turn_number}
        {VARIABLE_OP turn_remainder modulo 10}
        [if]
            {VARIABLE_CONDITIONAL turn_remainder equals 9}
            [then]
                [message]
                    speaker=sapphire
                    message= _ "Hurry up, every bit of delay allows the clan to grow stronger."
                [/message]
            [/then]
        [/if]
        {CLEAR_VARIABLE turn_remainder}
    [/event]
    [event]
        name=die
        first_time_only=no
        [filter]
            type="Yeti"
        [/filter]
        {VARIABLE_OP yetis_killed add 1}
        [if]
            {VARIABLE_CONDITIONAL yetis_killed equals $yetis_to_kill}
            [then]
                {CLEAR_VARIABLE yetis_to_kill}
                {CLEAR_VARIABLE yetis_killed}
                {CLEAR_VARIABLE seen_message}
                [message]
                    speaker=sapphire
                    message= _ "That was the last of them. Let's not waste any more time."
                [/message]
                [event]
                    name=moveto
                    [filter]
                        id=sapphire
                        x,y=1-22,45
                    [/filter]
                    [message]
                        speaker=sapphire
                        message= _ "Follow me, everyone. Our old friend shall pay heavily for what he just did."
                    [/message]
                    {VARIABLE turns_spent $turn_number}
                    [endlevel]
                        result=victory
                        carryover_add=yes
                        carryover_percentage=100
                        bonus=no
                    [/endlevel]
                [/event]
            [/then]
        [/if]
    [/event]
    [event]
        name=last breath
        [filter]
            id=sapphire
        [/filter]
        [message]
            speaker=unit
            message= _ "I finally embrace the cold of death."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=krix,friendly_troll
        [/filter]
        [message]
            speaker=unit
            message= _ "Killed by a puny creature..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=attack
        [filter]
            id=vash
        [/filter]
        [message]
            speaker=vash
            message= _ "I do not have time to waste here."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=time over
        [message]
            speaker=vash
            message= _ "I wasted too much time. The clan is doomed."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
[/scenario]
