#textdomain wesnoth-The_Sapphire_of_Ice
[scenario]
    id=11_The_Chase
    next_scenario=12_The_Sapphire_of_Ice
    name= _ "The Chase"
    map_data="{~add-ons/The_Sapphire_of_Ice/maps/11_The_Chase.map}"
    {DEFAULT_SCHEDULE}
    turns=50
    victory_when_enemies_defeated=no
    [side]
        side=1
        controller=human
        team_name="good"
        user_team_name= _ "Kryz'tara"
        id=sapphire
        name= _ "Kryz'tara"
        type="Fimbulwinter Drake"
        unrenameable=yes
        canrecruit=yes
        recruit="Saurian Skirmisher, Saurian Augur, Troll Whelp"
        gold=300
        income=8
        shroud=yes
    [/side]
    [side]
        side=2
        controller=ai
        team_name="bad"
        user_team_name= _ "Drakes"
        no_leader=yes
        gold=0
    [/side]
    [side]
        side=3
        controller=ai
        team_name="bad"
        user_team_name= _ "Elves"
        noleader=yes
        {GOLD 180 210 250}
        recruit="Elvish Fighter, Elvish Archer, Elvish Shaman, Elvish Scout, Wose"
        hidden=yes
    [/side]
    [side]
        side=4
        controller=ai
        team_name="bad"
        user_team_name= _ "Dwarves"
        noleader=yes
        {GOLD 180 210 250}
        recruit="Dwarvish Fighter, Dwarvish Guardsman, Dwarvish Thunderer"
        hidden=yes
    [/side]
    [side]
        side=5
        controller=ai
        team_name="statues"
        user_team_name= _ "Statues"
        noleader=yes
        hidden=yes
    [/side]
    [event]
        name=prestart
        [recall]
            id=krix
        [/recall]
        [recall]
            id=friendly_troll
        [/recall]
        [remove_shroud]
            side=1
            x,y=27-61,0-25
            include_borders=yes
        [/remove_shroud]
        {VARIABLE stored_vash.x 46}
        {VARIABLE stored_vash.y 11}
        [unstore_unit]
            variable=stored_vash
        [/unstore_unit]
        {CLEAR_VARIABLE stored_vash}
        {GENERIC_UNIT 2 "Drake Burner" 46 11}
        {GENERIC_UNIT 2 "Drake Burner" 46 11}
        {GENERIC_UNIT 2 "Drake Burner" 46 11}
        {GENERIC_UNIT 2 "Sky Drake" 46 11}
        {GENERIC_UNIT 2 "Sky Drake" 46 11}
        {GENERIC_UNIT 2 "Fire Drake" 46 11}
        {GENERIC_UNIT 2 "Fire Drake" 46 11}
        {GENERIC_UNIT 2 "Drake Glider" 46 11}
        {GENERIC_UNIT 2 "Hurricane Drake" 46 11}
        {GENERIC_UNIT 2 "Drake Warrior" 46 11}
        {GENERIC_UNIT 2 "Drake Fighter" 46 11}
        {GENERIC_UNIT 2 "Drake Clasher" 46 11}
        [modify_unit]
            [filter]
                side=2
            [/filter]
            goto_x,goto_y=19,18
        [/modify_unit]
    [/event]
    [event]
        name=start
        [message]
            speaker=vash
            message= _ "Verlin... you already broke through his guard?"
        [/message]
        [message]
            speaker=sapphire
            message= _ "He stood in my way, and he shattered. You are next."
        [/message]
        [message]
            speaker=vash
            message= _ "You are beyond redemption, Kryz'tara. Nothing of the drake I knew remains."
        [/message]
        [message]
            speaker=krix
            message= _ "We escaped together, Vash! Why did you abandon us for the clan that hunted us?"
        [/message]
        [message]
            speaker=vash
            message= _ "I did not betray our friendship, Krix. I abandoned a tyrant."
        [/message]
        [message]
            speaker=krix
            message= _ "They deserve to burn for what they did to us!"
        [/message]
        [message]
            speaker=sapphire
            message= _ "I am done listening to this traitor. Strike them down! Do not let a single drake escape!"
        [/message]
        [message]
            speaker=vash
            message= _ "Keep to the skies! Do not look back, just fly!"
        [/message]
        [objectives]
            [objective]
                description= _ "Chase the drakes"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Kryz'tara, Krix, or Grug"
                condition=lose
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
            [gold_carryover]
                bonus=yes
                carryover_percentage=40
            [/gold_carryover]
        [/objectives]
    [/event]
    [event]
        name=moveto
        first_time_only=no
        [filter]
            side=2
            x,y=19,18
        [/filter]
        {MOVE_UNIT id=$unit.id 2 23}
        [modify_unit]
            [filter]
                id=$unit.id
            [/filter]
            ai_special=guardian
            goto_x=""
            goto_y=""
        [/modify_unit]
        {VARIABLE_OP drakes_hidden add 1}
        [if]
            {VARIABLE_CONDITIONAL drakes_hidden equals 5}
            [then]
                [kill]
                    status=petrified
                [/kill]
                {MOVE_UNIT side=2 2 23}
                [modify_unit]
                    [filter]
                        side=2
                    [/filter]
                    ai_special=guardian
                    goto_x=""
                    goto_y=""
                [/modify_unit]
                {CLEAR_VARIABLE drakes_hidden}
                [message]
                    speaker=friendly_troll
                    message= _ "They're slipping away from us!"
                [/message]
                [message]
                    speaker=sapphire
                    message= _ "Keep pursuing them. We will catch them at all costs."
                [/message]
            [/then]
        [/if]
    [/event]
    [event]
        name=moveto
        [filter]
            side=1
            x,y=1-24,1-24
        [/filter]
        [modify_side]
            side=1
            shroud=no
            reset_view=yes
        [/modify_side]
        [modify_side]
            side=3,4
            hidden=no
            income=11
        [/modify_side]
        {UNIT 3 "Elvish Marshal" 5 20 (
        canrecruit=yes
        id=elvish_king
        )}
        {UNIT 4 "Dwarvish Lord" 13 4 (
        canrecruit=yes
        id=dwarvish_king
        )}
        [capture_village]
            side=3
            terrain=*^Ve
        [/capture_village]
        [capture_village]
            side=4
            terrain=*^Vhh
        [/capture_village]
        {GENERIC_UNIT 3 "Elvish Fighter" 8 22}
        {GENERIC_UNIT 3 "Elvish Fighter" 3 16}
        {GENERIC_UNIT 3 "Elvish Fighter" 11 15}
        {GENERIC_UNIT 3 "Elvish Fighter" 14 21}
        {GENERIC_UNIT 3 "Elvish Fighter" 9 18}
        {GENERIC_UNIT 3 "Elvish Fighter" 6 21}
        {GENERIC_UNIT 3 "Elvish Fighter" 7 12}
        {GENERIC_UNIT 3 "Elvish Archer" 16 23}
        {GENERIC_UNIT 3 "Elvish Archer" 15 14}
        {GENERIC_UNIT 3 "Elvish Archer" 4 18}
        {GENERIC_UNIT 3 "Elvish Archer" 18 24}
#ifndef EASY
        {GENERIC_UNIT 3 "Elvish Captain" 5 16}
#endif
        {UNIT 3 "Elvish Fighter" 7 6 hitpoints=16}
        {UNIT 3 "Elvish Hero" 15 8 hitpoints=23}
        {UNIT 3 "Elvish Fighter" 2 4 hitpoints=8}
        {UNIT 3 "Elvish Archer" 16 9 hitpoints=6}
        {UNIT 3 "Elvish Ranger" 6 8 hitpoints=17}
        {UNIT 3 "Elvish Archer" 7 4 hitpoints=12}

        {GENERIC_UNIT 4 "Dwarvish Fighter" 17 2}
        {GENERIC_UNIT 4 "Dwarvish Fighter" 20 4}
        {GENERIC_UNIT 4 "Dwarvish Fighter" 16 5}
        {GENERIC_UNIT 4 "Dwarvish Fighter" 8 2}
        {GENERIC_UNIT 4 "Dwarvish Fighter" 19 7}
        {GENERIC_UNIT 4 "Dwarvish Thunderer" 16 3}
        {GENERIC_UNIT 4 "Dwarvish Thunderer" 11 2}
        {GENERIC_UNIT 4 "Dwarvish Thunderer" 25 5}
#ifndef EASY
        {GENERIC_UNIT 4 "Dwarvish Steelclad" 14 3}
#endif
        {UNIT 4 "Dwarvish Fighter" 7 5 hitpoints=14}
        {UNIT 4 "Dwarvish Fighter" 15 7 hitpoints=27}
        {UNIT 4 "Dwarvish Fighter" 14 7 hitpoints=25}
        {UNIT 4 "Dwarvish Fighter" 17 9 hitpoints=17}
        [delay]
            time=1500
        [/delay]
        [scroll_to]
            x,y=14,6
        [/scroll_to]
        [delay]
            time=1500
        [/delay]
        [scroll_to]
            x,y=10,13
        [/scroll_to]
        [delay]
            time=1500
        [/delay]
        [scroll_to]
            x,y=5,20
        [/scroll_to]
        [delay]
            time=1500
        [/delay]
        [message]
            speaker=elvish_king
            message= _ "Worry not, Vash. We protect all refugees who seek us."
        [/message]
        [message]
            speaker=vash
            message= _ "Verlin told me about your great deeds. I can see why he spoke so highly of your kind."
        [/message]
        [message]
            speaker=dwarvish_king
            message= _ "Bah! Will you elves learn to stay in your stinking forests?"
        [/message]
        [message]
            speaker=elvish_king
            message= _ "As much as I want to settle this war with you, I am afraid there's a bigger threat to worry about."
        [/message]
        [delay]
            time=2000
        [/delay]
        [message]
            speaker=dwarvish_king
            message= _ "Wait. This can not be. Those are the monsters that destroyed our city!"
        [/message]
        [message]
            speaker=friendly_troll
            message= _ "And we will destroy you too if you stand in our way."
        [/message]
        [message]
            speaker=dwarvish_king
            message= _ "Nonsense! A dwarf never turns his back to his enemies!"
        [/message]
        [message]
            speaker=sapphire
            message= _ "As expected. Forest-dwellers, this is your final chance to surrender Vash and his rogue drakes."
        [/message]
        [message]
            speaker=elvish_king
            message= _ "Never. You will have to kill us all first."
        [/message]
        [message]
            speaker=elvish_king
            message= _ "Dwarves, may I suggest a temporary alliance to rid the valley of this danger?"
        [/message]
        [message]
            speaker=dwarvish_king
            message= _ "You have it. That ice monster will pay heavily for destroying our home."
        [/message]
        [message]
            speaker=krix
            message= _ "An alliance between elves and dwarves? We are facing a united front..."
        [/message]
        [message]
            speaker=sapphire
            message= _ "It does not matter. We will crush them all. They shall taste the wrath of the Cold Heart."
        [/message]
        [objectives]
            [objective]
                description= _ "Defeat both enemy leaders"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Kryz'tara, Krix, or Grug"
                condition=lose
            [/objective]
            [objective]
                description= _ "Turns run out"
                condition=lose
            [/objective]
            [gold_carryover]
                bonus=yes
                carryover_percentage=40
            [/gold_carryover]
        [/objectives]
        [event]
            name=side 2 turn
            [message]
                speaker=elvish_king
                message= _ "Enter the heart of the forest, we will cover for you."
            [/message]
            [message]
                speaker=vash
                message= _ "Please be careful. The enemy is much stronger than he may appear."
            [/message]
            [message]
                speaker=elvish_king
                message= _ "These are our forests. Do not worry about us."
            [/message]
            {MOVE_UNIT id=vash 4 24}
            [store_unit]
                variable=stored_vash
                [filter]
                    id=vash
                [/filter]
                kill=yes
            [/store_unit]
            {MOVE_UNIT side=2 4 24}
            [kill]
                side=2
            [/kill]
        [/event]
    [/event]
    [event]
        name=petrified
        first_time_only=no
        [filter]
            [not]
                canrecruit=yes
            [/not]
        [/filter]
        [modify_unit]
            [filter]
                id=$unit.id
            [/filter]
            side=5
        [/modify_unit]
    [/event]
    [event]
        name=last breath,petrified
        first_time_only=no
        [filter]
            side=3,4
            canrecruit=yes
        [/filter]
        [message]
            speaker=unit
            message= _ "You will be stopped."
        [/message]
        [message]
            speaker=sapphire
            message= _ "By who? You and your pathetic allies?"
        [/message]
        [delay]
            time=1000
        [/delay]
        [if]
            [have_unit]
                side=3,4
                [not]
                    x,y=$x1,$y1
                [/not]
                [not]
                    status=petrified
                [/not]
                canrecruit=yes
            [/have_unit]
            [else]
                [message]
                    speaker=sapphire
                    message= _ "Burn down the entire forest. Find the traitors. Those elves will suffer for interfering in our matters."
                [/message]
                [endlevel]
                    result=victory
                    carryover_add=yes
                    carryover_percentage=40
                    bonus=yes
                [/endlevel]
            [/else]
        [/if]
    [/event]
    [event]
        name=last breath
        [filter]
            id=sapphire
        [/filter]
        [message]
            speaker=unit
            message= _ "I finally embrace the cold of death."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=krix,friendly_troll
        [/filter]
        [message]
            speaker=unit
            message= _ "Killed by a puny creature..."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=time over
        [message]
            speaker=sapphire
            message= _ "We could not make it in time. This is hopeless."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
[/scenario]