[textdomain]
    name="wesnoth-The_Sapphire_of_Ice"
    path="data/add-ons/The_Sapphire_of_Ice/translations"
[/textdomain]


#textdomain wesnoth-The-Sapphire-of-Ice


[campaign]
    id=The_Sapphire_of_Ice
    name= _ "The Sapphire of Ice"
    abbrev= _ "TSoI"
    define=CAMPAIGN_THE_SAPPHIRE_OF_ICE
    icon="items/ball-blue.png"
    image=
    first_scenario=00_Impossible_Flame
    description= _ "Not as popular as its fiery cousin, the sapphire of ice remains an obscure source of power and fame. Embark on a quest to free Kryz'tara - a fading drake burner - and his friends from the tyranny of his oppressive clan. Travel the lands and skies in search for shelter, before learning what the sapphire of ice is truly made of."
    {CAMPAIGN_DIFFICULTY EASY "data/add-ons/The_Sapphire_of_Ice/images/units/drakes/glacial.png~RC(magenta>red)" _"Glacial" _"Normal"}
    {CAMPAIGN_DIFFICULTY NORMAL "data/add-ons/The_Sapphire_of_Ice/images/units/drakes/frost.png~RC(magenta>red)" _"Frost" _"Challenging"}
    {CAMPAIGN_DIFFICULTY HARD "data/add-ons/The_Sapphire_of_Ice/images/units/drakes/blizzard.png~RC(magenta>red)" _"Blizzard" _"Difficult"}
    [about]
        title= _ "Campaign Design and Programming"
        [entry]
            name="masterpace"
        [/entry]
    [/about]
    [about]
        title= _ "Custom Artwork"
        [entry]
            name="refumee"
        [/entry]
        [entry]
            name="dugi (loti)"
        [/entry]
    [/about]
    [about]
        title= _ "Special thanks to"
        [entry]
            name="Wesnoth Modders' Guild"
        [/entry]
    [/about]
[/campaign]

#ifdef CAMPAIGN_THE_SAPPHIRE_OF_ICE

[binary_path]
    path=data/add-ons/The_Sapphire_of_Ice
[/binary_path]

{~add-ons/The_Sapphire_of_Ice/macros}
{~add-ons/The_Sapphire_of_Ice/utils}
[units]
        {~add-ons/The_Sapphire_of_Ice/units}
[/units]

{~add-ons/The_Sapphire_of_Ice/scenarios}
#endif