#textdomain wesnoth-help
#textdomain wesnoth-The_Sapphire_of_Ice
#define WEAPON_SPECIAL_EXPLOSIVE_SLOW
    [damage]
        id=explosive slow
        name= _ "explosive slow"
        description= _ "When this attack is used offensively, all enemies adjacent to the target are slowed."
        active_on=offense
    [/damage]
#enddef