#textdomain wesnoth-The_Sapphire_of_Ice
#define FREEZE_ADJACENT
    [event]
        name=side turn
        id=freeze_adjacent
        first_time_only=no
        [filter_condition]
            [have_unit]
                ability=freezing aura
                side=$side_number
            [/have_unit]
        [/filter_condition]
        [terrain]
            terrain=Ha
            layer=base
            [and]
                terrain=H*
            [/and]
            [and]
                [filter]
                    ability=freezing aura
                    side=$side_number
                [/filter]
                radius=1
            [/and]
        [/terrain]
        [terrain]
            terrain=Ms
            layer=base
            [and]
                terrain=M*
            [/and]
            [and]
                [filter]
                    ability=freezing aura
                    side=$side_number
                [/filter]
                radius=1
            [/and]
        [/terrain]
        [terrain]
            terrain=Ai
            layer=base
            [and]
                terrain=W*,Q*
            [/and]
            [and]
                [filter]
                    ability=freezing aura
                    side=$side_number
                [/filter]
                radius=1
            [/and]
        [/terrain]
        [terrain]
            terrain=Aa
            layer=base
            [and]
                [filter]
                    ability=freezing aura
                    side=$side_number
                [/filter]
                radius=1
            [/and]
            [not]
                terrain=H*,M*,C*,K*,X*,A*
            [/not]
        [/terrain]
    [/event]
#enddef

#define ABSORB_COLD_ACTIONS
    [store_unit]
        [filter]
            type="Fimbulwinter Drake"
        [/filter]
        variable=fimbul_drake
    [/store_unit]
    [if]
        [variable]
            name=fimbul_drake[0].variables.icehunger_level
            equals=$empty
        [/variable]
        [then]
            [set_variable]
                name=fimbul_drake[0].variables.icehunger_level
                value=1
            [/set_variable]
            [set_variable]
                name=fimbul_drake[0].variables.cold_to_advance
                value=33
            [/set_variable]
        [/then]
    [/if]
    [set_variable]
        name=fimbul_drake[0].variables.cold_to_advance
        sub=$damage_inflicted
    [/set_variable]
    [if]
        [variable]
            name=fimbul_drake[0].variables.cold_to_advance
            less_than=1
        [/variable]
        [then]
            [set_variable]
                name=fimbul_drake[0].variables.icehunger_level
                add=1
            [/set_variable]
            [set_variable]
                name=fimbul_drake[0].variables.cold_to_advance
                value="$( ( ($fimbul_drake[0].variables.icehunger_level * 200) - 100 + $fimbul_drake[0].variables.cold_to_advance) / 3)"
            [/set_variable]
            [set_variable]
                name=fimbul_drake[0].abilities.icehunger[0].description
                value= _ "This unit has an unsatiable hunger for cold. Every time an ally deals cold damage, this unit grows stronger. $fimbul_drake[0].variables.cold_to_advance more cold damage till next advancement."
            [/set_variable]
            [unstore_unit]
                variable=fimbul_drake[0]
            [/unstore_unit]
            [switch]
                variable=fimbul_drake[0].variables.icehunger_level
                [case]
                    value=1
                    [message]
                        speaker=narrator
                        message= _ "You ran into a bug. Kindly report it to the author of this campaign."
                    [/message]
                [/case]
                [case]
                    value=2
                    [scroll_to_unit]
                        type="Fimbulwinter Drake"
                    [/scroll_to_unit]
                    [message]
                        speaker=sapphire
                        message= _ "All this cold is making me... healthier."
                    [/message]
                    [object]
                        id=health_object
                        image="icons/potion_red_medium.png"
                        description= _ "<span color='#c90303' size='x-large' weight='bold'>•Maximum HP increased by 15</span>
<span color='#a200e2' size='x-large' weight='bold'>•Regenerates</span>"
                        [filter]
                            type="Fimbulwinter Drake"
                        [/filter]
                        [effect]
                            apply_to=hitpoints
                            increase_total=15
                            heal_full=yes
                        [/effect]
                        [effect]
                            apply_to=new_ability
                            [abilities]
                                {ABILITY_REGENERATES}
                            [/abilities]
                        [/effect]
                    [/object]
                [/case]
                [case]
                    value=3
                    [scroll_to_unit]
                        type="Fimbulwinter Drake"
                    [/scroll_to_unit]
                    [message]
                        speaker=sapphire
                        message= _ "I feel much stronger now."
                    [/message]
                    [object]
                        id=strength_object
                        image="attacks/touch-undead.png"
                        description= _ "<span color='#4503c9' size='x-large' weight='bold'>•Battle claws +1 strike</span>
<span color='#04e8ef' size='x-large' weight='bold'>•Ice breath drains</span>"
                        [filter]
                            type="Fimbulwinter Drake"
                        [/filter]
                        [effect]
                            apply_to=attack
                            name="battle claws"
                            increase_attacks=1
                        [/effect]
                        [effect]
                            apply_to=attack
                            name="ice breath"
                            [set_specials]
                                mode=append
                                {WEAPON_SPECIAL_DRAIN}
                            [/set_specials]
                        [/effect]
                    [/object]
                [/case]
                [case]
                    value=4
                    [message]
                        speaker=sapphire
                        message= _ "I feel a surge of power rushing into me..."
                    [/message]
                    [remove_object]
                        [filter]
                            type="Fimbulwinter Drake"
                        [/filter]
                        object_id=health_object
                    [/remove_object]
                    [remove_object]
                        [filter]
                            type="Fimbulwinter Drake"
                        [/filter]
                        object_id=strength_object
                    [/remove_object]
                    {ADVANCE_UNIT (type="Fimbulwinter Drake") "Ice Dragon"}
                    [message]
                        speaker=krix
                        message= _ "That is impossible! That defies everything natural! You... are a dragon now?!"
                    [/message]
                    [message]
                        speaker=sapphire
                        message= _ "Everything about my journey so far has been called impossible, why are you so surprised?"
                    [/message]
                    [message]
                        speaker=krix
                        message= _ "You do not understand. Dragons are legendary creatures, especially among saurians. A drake does not simply become a dragon, that contradicts centuries of our scholarly work. We have always accepted that dragons just exist, but never witnessed one being born, nonetheless a dragon of ice!"
                    [/message]
                    [message]
                        speaker=krix
                        message= _ "Who knows the full extent of powers Kryz just unlocked? You may as well be unstoppable now! Vash, this is an unmissable opportunity for us to do what is right."
                    [/message]
                    [message]
                        speaker=vash
                        message= _ "This is very disturbing indeed. The pack of gliders did not sign up for this. Perhaps the clan was right, when the laws of nature are sidelined, this is the only <i>natural</i> outcome."
                    [/message]
                    [message]
                        speaker=sapphire
                        message= _ "Enough you two. These are my powers now, and only I will decide how to use them. Focus on your mission for now."
                    [/message]
                    [message]
                        speaker=krix
                        message= _ "Your orders, Cold Heart."
                    [/message]
                    [message]
                        speaker=vash
                        message= _ "(To himself) This does not sit well with me..."
                    [/message]
                [/case]
            [/switch]
            [clear_variable]
                name=fimbul_drake
            [/clear_variable]
        [/then]
        [else]
            [set_variable]
                name=fimbul_drake[0].abilities.icehunger[0].description
                value= _ "This unit has an unsatiable hunger for cold. Every time an ally deals cold damage, this unit grows stronger. $fimbul_drake[0].variables.cold_to_advance more cold damage till next advancement."
            [/set_variable]
            [unstore_unit]
                variable=fimbul_drake[0]
            [/unstore_unit]
            [clear_variable]
                name=fimbul_drake
            [/clear_variable]
        [/else]
    [/if]
#enddef

#define ABSORB_COLD
    [event]
        name=attacker hits
        first_time_only=no
        [if]
            [variable]
                name=unit.side
                equals=1
            [/variable]
            [variable]
                name=unit.id
                not_equals=sapphire
            [/variable]
            [variable]
                name=weapon.type
                equals=cold
            [/variable]
            [have_unit]
                type="Fimbulwinter Drake"
                side=1
            [/have_unit]
            [then]
                {ABSORB_COLD_ACTIONS}
            [/then]
        [/if]
    [/event]
    [event]
        name=defender hits
        first_time_only=no
        [if]
            [variable]
                name=second_unit.side
                equals=1
            [/variable]
            [variable]
                name=second_unit.id
                not_equals=sapphire
            [/variable]
            [variable]
                name=second_weapon.type
                equals=cold
            [/variable]
            [have_unit]
                type="Fimbulwinter Drake"
                side=1
            [/have_unit]
            [then]
                {ABSORB_COLD_ACTIONS}
            [/then]
        [/if]
    [/event]
#enddef