#textdomain wesnoth-The_Sapphire_of_Ice
#define DRAKE_ICE_ANIM_S_DIAGONAL DRAKE_NAME OFFSET_POSITION
    [attack_anim]
        [filter_attack]
            name=ice breath
        [/filter_attack]
        direction=se,sw
        missile_start_time=-730
        {MISSILE_FRAME_ICE}
        start_time=-900
        [frame]
            image="units/drakes/{DRAKE_NAME}.png:20"
        [/frame]
        [frame]
            image="units/drakes/{DRAKE_NAME}-ice-inhale-[1~4,2].png:100"
        [/frame]
        {SOUND:HIT_AND_MISS flame-big.ogg flame-big-miss.ogg -480}
        [frame]
            image="units/drakes/{DRAKE_NAME}-ice-se-[1~3,2,1].png:100"
        [/frame]
    [/attack_anim]
#enddef

#define DRAKE_ICE_ANIM_N_DIAGONAL_CURRENT DRAKE_NAME OFFSET_POSITION
    [attack_anim]
        [filter_attack]
            name=ice breath
        [/filter_attack]
        direction=ne,nw
        missile_start_time=-730
        {MISSILE_FRAME_ICE}
        start_time=-900
        [frame]
            image="units/drakes/{DRAKE_NAME}.png:20"
        [/frame]
        [frame]
            image="units/drakes/{DRAKE_NAME}-ice-inhale-[1~4,2].png:100"
        [/frame]
        {SOUND:HIT_AND_MISS flame-big.ogg flame-big-miss.ogg -480}
        [frame]
            image="units/drakes/{DRAKE_NAME}-ice-se-[1~3,2,1].png:100"
        [/frame]
    [/attack_anim]
#enddef

#define DRAKE_ICE_ANIM_S DRAKE_NAME OFFSET_POSITION
    [attack_anim]
        [filter_attack]
            name=ice breath
        [/filter_attack]
        direction=s
        missile_start_time=-730
        {MISSILE_FRAME_ICE}
        start_time=-900
        [frame]
            image="units/drakes/{DRAKE_NAME}.png:20"
        [/frame]
        [frame]
            image="units/drakes/{DRAKE_NAME}-ice-inhale-[1~4,2].png:100"
        [/frame]
        {SOUND:HIT_AND_MISS flame-big.ogg flame-big-miss.ogg -480}
        [frame]
            image="units/drakes/{DRAKE_NAME}-ice-s-[1~3,2,1].png:100"
        [/frame]
    [/attack_anim]
#enddef

# as long as there are no north-facing frames, we will use se (not s)
#define DRAKE_ICE_ANIM_N_CURRENT DRAKE_NAME OFFSET_POSITION
    [attack_anim]
        [filter_attack]
            name=ice breath
        [/filter_attack]
        direction=n
        missile_start_time=-730
        {MISSILE_FRAME_ICE}
        start_time=-900
        [frame]
            image="units/drakes/{DRAKE_NAME}.png:20"
        [/frame]
        [frame]
            image="units/drakes/{DRAKE_NAME}-ice-inhale-[1~4,2].png:100"
        [/frame]
        {SOUND:HIT_AND_MISS flame-big.ogg flame-big-miss.ogg -480}
        [frame]
            image="units/drakes/{DRAKE_NAME}-ice-se-[1~3,2,1].png:100"
        [/frame]
    [/attack_anim]
#enddef

#define MISSILE_FRAME_ICE_BEAM
    [if]
        direction=n,ne,nw
        [missile_frame]
            duration=30
            halo="halo/ice-beam-1.png"
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=30
            halo="halo/ice-beam-2.png"
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=30
            halo="halo/ice-beam-3.png"
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=30
            halo="halo/ice-beam-4.png"
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=30
            halo="halo/ice-beam-5.png"
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=30
            halo="halo/ice-beam-6.png"
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=130
            halo="halo/ice-beam-7.png"
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=70
            halo="halo/ice-beam-6.png"
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=70
            halo="halo/ice-beam-5.png"
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=70
            halo="halo/ice-beam-4.png"
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=70
            halo="halo/ice-beam-3.png"
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=70
            halo="halo/ice-beam-2.png"
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=70
            halo="halo/ice-beam-1.png"
            offset=1.0
        [/missile_frame]
    [/if]
    [else]
        direction=s,se,sw
        [missile_frame]
            duration=30
            halo="halo/ice-beam-1.png~FL(vert)"
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=30
            halo="halo/ice-beam-2.png~FL(vert)"
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=30
            halo="halo/ice-beam-3.png~FL(vert)"
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=30
            halo="halo/ice-beam-4.png~FL(vert)"
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=30
            halo="halo/ice-beam-5.png~FL(vert)"
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=30
            halo="halo/ice-beam-6.png~FL(vert)"
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=130
            halo="halo/ice-beam-7.png~FL(vert)"
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=70
            halo="halo/ice-beam-6.png~FL(vert)"
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=70
            halo="halo/ice-beam-5.png~FL(vert)"
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=70
            halo="halo/ice-beam-4.png~FL(vert)"
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=70
            halo="halo/ice-beam-3.png~FL(vert)"
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=70
            halo="halo/ice-beam-2.png~FL(vert)"
            offset=1.0
        [/missile_frame]
        [missile_frame]
            duration=70
            halo="halo/ice-beam-1.png~FL(vert)"
            offset=1.0
        [/missile_frame]
    [/else]
#enddef