#textdomain wesnoth-The_Sapphire_of_Ice
[unit_type]
    id=Blizzard Drake
    name= _ "Blizzard Drake"
    race=drake
    gender=male,female
    image="units/drakes/blizzard.png"
    profile="portraits/drakes/blizzard.webp"
    hitpoints=78
    movement_type=drakefly
    movement=5
    experience=86
    level=3
    alignment=chaotic
    advances_to=Fimbulwinter Drake
    {AMLA_DEFAULT}
    cost=64
    usage=archer
    description= _ "There are those who burn bright and fade quickly, and then there are those who endure the long, dark winter. The Blizzard Drake has survived the culling of his kin to become a master of the frozen wastes. Through sheer will, he has inverted his nature, replacing the warmth of the sun with the biting unforgiveness of the tundra.

With a single beat of his frost-rimed wings, he summons the blizzard; with a single breath, he stops the hearts of his foes. He commands the cold with terrifying precision, yet the unnatural chill in his veins continues to grow, hinting at a dormant power that has yet to fully awaken."
    die_sound=drake-die.ogg
    {DEFENSE_ANIM "units/drakes/blizzard-defend-2.png" "units/drakes/blizzard-defend-1.png" {SOUND_LIST:DRAKE_HIT} }
    [resistance]
        cold=30
        fire=140
    [/resistance]
    [movement_costs]
        cave=2
        frozen=1
    [/movement_costs]
    [defense]
        frozen=60
    [/defense]
    {DRAKE_STANDING_ANIM blizzard}
    {DRAKE_MOVEMENT_ANIM blizzard}
    {DRAKE_WEAPON_ANIM blizzard}
    [abilities]
        [freezing_aura]
            id=freezing aura
            name= _ "freezing aura"
            description= _ "All adjacent hexes will be turned to ice at the beginning of the turn."
        [/freezing_aura]
    [/abilities]
    {FREEZE_ADJACENT} #DO NOT PUT IT INSIDE ABILITIES UNLESS YOU ARE 1.19+
    [attack]
        name=battle claws
        description=_"battle claws"
        icon=attacks/claws-drake.png
        type=blade
        range=melee
        damage=12
        number=2
    [/attack]
    [attack]
        name=ice breath
        description=_"ice breath"
        icon=attacks/ice-breath-dragon.png
        type=cold
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
            {WEAPON_SPECIAL_SLOW}
        [/specials]
        damage=10
        number=6
    [/attack]
    {DRAKE_ICE_ANIM_S_DIAGONAL blizzard 35,40}
    {DRAKE_ICE_ANIM_N_DIAGONAL_CURRENT blizzard 35,-20}
    {DRAKE_ICE_ANIM_S blizzard 8,50}
    {DRAKE_ICE_ANIM_N_CURRENT blizzard 8,-50}
    [attack_anim]
        [filter_attack]
            name=battle claws
        [/filter_attack]
        offset=0.0~0.2,0.2~0.7,0.7~0.2,0.2~0.0
        start_time=-300
        [frame]
            image="units/drakes/blizzard-melee-[1~6].png:100"
        [/frame]
        {SOUND:HIT_AND_MISS claws.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]
    [female]
        name= _ "female^Blizzard Drake"
        gender=female
    [/female]
[/unit_type]
