#textdomain wesnoth-The_Sapphire_of_Ice
[unit_type]
    id=Fimbulwinter Drake
    name= _ "Fimbulwinter Drake"
    race=drake
    gender=male,female
    image="units/drakes/fimbulwinter.png"
    profile="portraits/drakes/blizzard.webp"
    hitpoints=92
    movement_type=drakefly
    movement=5
    experience=200
    level=4
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=118
    usage=archer
    # wmllint: local spelling fimbulwinter
    description= _ "The dormant power within the Blizzard Drake has fully awakened, cementing his absolute mastery over the elements that once tried to kill him. The Fimbulwinter Drake has entirely shed the heritage of his fire-breathing kin; where they bring ash and ruin, he brings the silent, unforgiving cruelty of the deep winter.

He no longer merely survives the cold; he dictates it. The storm is anchored to his very presence, freezing the earth beneath his talons as he walks. He is a merciless apex predator of the ice, a creature whose breath does not scorch, but delivers the inescapable, suffocating sleep of the endless snows."
    die_sound=drake-die.ogg
    {DEFENSE_ANIM "units/drakes/fimbulwinter-defend-2.png" "units/drakes/fimbulwinter-defend-1.png" {SOUND_LIST:DRAKE_HIT} }
    {DRAKE_STANDING_ANIM fimbulwinter}
    {DRAKE_MOVEMENT_ANIM fimbulwinter}
    {DRAKE_WEAPON_ANIM fimbulwinter}
    {DRAKE_ICE_ANIM_S_DIAGONAL fimbulwinter 35,40}
    {DRAKE_ICE_ANIM_N_DIAGONAL_CURRENT fimbulwinter 35,-20}
    {DRAKE_ICE_ANIM_S fimbulwinter 8,50}
    {DRAKE_ICE_ANIM_N_CURRENT fimbulwinter 8,-50}
    [resistance]
        cold=30
        fire=140
    [/resistance]
    [movement_costs]
        cave=2
        frozen=1
    [/movement_costs]
    [defense]
        frozen=60
    [/defense]
    [abilities]
        [icehunger]
            id=icehunger
            name= _ "icehunger"
            description= _ "This unit has an unsatiable hunger for cold. Every time an ally deals cold damage, this unit grows stronger. 33 more damage till next advancement."
        [/icehunger]
        [freezing_aura]
            id=freezing aura
            name= _ "freezing aura"
            description= _ "All adjacent hexes will be turned to ice at the beginning of the turn."
        [/freezing_aura]
    [/abilities]
    #DO NOT PUT THESE INSIDE ABILITIES UNLESS YOU ARE 1.19+
    {FREEZE_ADJACENT}
    {ABSORB_COLD}
    [attack]
        name=battle claws
        description=_"battle claws"
        icon=attacks/claws-drake.png
        type=blade
        range=melee
        damage=16
        number=2
    [/attack]
    [attack]
        name=ice breath
        description=_"ice breath"
        icon=attacks/ice-breath-dragon.png
        type=cold
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
            {WEAPON_SPECIAL_SLOW}
        [/specials]
        damage=11
        number=7
    [/attack]
    [attack_anim]
        [filter_attack]
            name=battle claws
        [/filter_attack]
        offset=0.0~0.2,0.2~0.7,0.7~0.2,0.2~0.0
        start_time=-300
        [frame]
            image="units/drakes/fimbulwinter-melee-[1~6].png:100"
        [/frame]
        {SOUND:HIT_AND_MISS claws.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]
    [female]
        name= _ "female^fimbulwinter Drake"
        gender=female
    [/female]
[/unit_type]
