#textdomain wesnoth-The_Sapphire_of_Ice
[unit_type]
    id=Frost Drake
    name= _ "Frost Drake"
    race=drake
    gender=male,female
    image="units/drakes/frost.png"
    profile="portraits/drakes/blizzard.webp"
    hitpoints=63
    movement_type=drakefly
    movement=5
    experience=58
    level=2
    alignment=chaotic
    advances_to=Blizzard Drake
    cost=35
    usage=archer
    description= _ "The shivering sickness that marked his youth has finally passed. Though he will never feel the warmth of his kin, the Frost Drake has learned to master the hollow chill within his chest. He no longer gasps for heat, but instead exhales the freezing air of the high peaks with deadly precision.

While his hide remains as soft as any other drake's, his breath has become a terrifying weapon. It does not burn, but bites with the stinging numbness of a winter gale, freezing armor and flesh alike before his enemies can even draw their swords."
    die_sound=drake-die.ogg
    {DEFENSE_ANIM "units/drakes/frost-defend-2.png" "units/drakes/frost-defend-1.png" {SOUND_LIST:DRAKE_HIT} }
    [resistance]
        cold=30
        fire=140
    [/resistance]
    [movement_costs]
        cave=2
        frozen=1
    [/movement_costs]
    [defense]
        frozen=60
    [/defense]
    {DRAKE_STANDING_ANIM frost}
    {DRAKE_MOVEMENT_ANIM frost}
    {DRAKE_WEAPON_ANIM frost}
    [attack]
        name=battle claws
        description=_"battle claws"
        icon=attacks/claws-drake.png
        type=blade
        range=melee
        damage=9
        number=2
    [/attack]
    [attack]
        name=ice breath
        description=_"ice breath"
        icon=attacks/ice-breath-dragon.png
        type=cold
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
            {WEAPON_SPECIAL_SLOW}
        [/specials]
        damage=9
        number=5
    [/attack]
    {DRAKE_ICE_ANIM_S_DIAGONAL frost 35,40}
    {DRAKE_ICE_ANIM_N_DIAGONAL_CURRENT frost 35,-20}
    {DRAKE_ICE_ANIM_S frost 8,50}
    {DRAKE_ICE_ANIM_N_CURRENT frost 8,-50}
    [attack_anim]
        [filter_attack]
            name=battle claws
        [/filter_attack]
        offset=0.0~0.2,0.2~0.7,0.7~0.2,0.2~0.0
        start_time=-300
        [frame]
            image="units/drakes/frost-melee-[1~6].png:100"
        [/frame]
        {SOUND:HIT_AND_MISS claws.ogg {SOUND_LIST:MISS} -100}
    [/attack_anim]
    [female]
        name= _ "female^Frost Drake"
        gender=female
    [/female]
[/unit_type]
