#textdomain wesnoth-The_Sapphire_of_Ice
[unit_type]
    id=Quintain
    name= _ "Quintain"
    race=mechanical
    image="units/quintain.png"
    movement=1
    hitpoints=31
    advances_to=null
    {AMLA_DEFAULT}
    level=0
    cost=10
    usage=fighter
    movement_type=treefolk
    alignment=neutral
    description= _ "Quintains are used to practice swordplay and jousting on. It would be extremely unusual to be attacked by one."
    [resistance]
        blade=0
        pierce=100
        fire=130
    [/resistance]
    [movement_costs]
        hills=2
    [/movement_costs]
    [defense]
        hills=100
    [/defense]
    [abilities]
        {ABILITY_REGENERATES}
    [/abilities]
    {DEFENSE_ANIM "units/quintain.png" "units/quintain.png" staff.ogg}
[/unit_type]
